﻿@model PRISM.Models.ChangePassword
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<h2>Change Password</h2>
@using (Html.BeginForm("Index", "ChangePassword", FormMethod.Post, new { @class = "foMxHeiForAjx" }))
{
    <div>
        @Html.AntiForgeryToken()
        <div style="color: #ee0000">
            @Html.ValidationSummary(true)
        </div>
        <p style="color: #ee0000">@ViewData["ErrorMessage"]</p>
        <p style="color: #00BB00">@ViewData["SuccessMessage"]</p>

        @*Old Password : @Html.TextBoxFor("txtOldPassword", null, new {@id="txtOldPassword" })
        New Password : @Html.TextBox("txtNewPassword", null, new {@id="txtNewPassword" })
        Confirm Password :@Html.TextBox("txtConfirmPassword", null, new {@id="txtConfirmPassword" })*@

        <div class="grid condensed">
            <div class="row cells4">
                <div class="cell labelfor">@PRISM.Resource.OldPassword</div>
                <div class="cell ">
                    @Html.PasswordFor(model => model.OldPassword)
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
            </div>
            <div class="row cells4">
                <div class="cell labelfor">@PRISM.Resource.NewPassword</div>
                <div class="cell ">
                    @Html.PasswordFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)

                </div>
            </div>
            <div class="row cells4">
                <div class="cell labelfor">@PRISM.Resource.ConfirmPassword</div>
                <div class="cell ">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <input type="submit" id="btnSubmit" value="Reset" />
        </div>
    </div>
}