﻿@model IEnumerable<PRISM.Models.paybookModel>
@{
    ViewBag.Title = "Index";
}
<h2>Person Specific Paybook</h2>

@using (Html.BeginForm())
{
    Html.AntiForgeryToken();
    if(ViewBag.IsAdmin)
    { 
        <div class="grid condensed">
            <div class="row cells4">
                <div class="cell labelfor">Person Code</div>
                <div class="cell">@Html.TextBox("pcode", (string)ViewBag.PersonCode, new { type = "number", min = "0", placeholder = "0000" })</div>
                <div class="cell ">
                    <input type="submit" value="Go!" id="getReport" />
                </div>
                <div class="cell"></div>
            </div>
        </div>
    }
}
@{Html.RenderPartial("iPersonSpecPaybook", Model);}

@section userscript{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(function () {
            $("#pcode").rules("add", {
                required: true,
                minlength: 4,
            });
        });
    </script>
}
