﻿@model IEnumerable<PRISM.Models.paybookModel>

<table class="table">
        <tr>
            <th>Person Name</th>
            <th>Item Name</th>
            <th>Acquired Date</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Period</th>
            <th>Expiry Date</th>
            <th>Comment</th>
            <th>Handed By</th>
            <th>Taken Address</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ma => item.pbENTRYFOR)</td>
                <td>@Html.DisplayFor(ma => item.pbITEMNAME)</td>
                <td><span class="spandate">@Html.DisplayFor(ma => item.pbPOSTINGDATE)</span></td>
                <td>@Html.DisplayFor(ma => item.pbDesc)</td>
                <td>@Html.DisplayFor(ma => item.pbQUANTITY)</td>
                <td>@Html.DisplayFor(ma => item.Period)</td>
                <td><span class="spandate">@Html.DisplayFor(ma => item.ExpiryDate)</span></td>
                <td>@Html.DisplayFor(ma => item.pbCOMMENTS)</td>
                <td>@Html.DisplayFor(ma => item.pbhandedby)</td>
                <td>@Html.DisplayFor(ma => item.pbAddress)</td>
            </tr>

        }
    </table>
