﻿@model PRISM.TBL_ASSETLEDGER
@using (Html.BeginCollectionItem("assets"))
{
    <div class="editorRow">
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SelectedItemId)<br />
                    @Html.DropDownListFor(model => model.SelectedItemId, new SelectList(ViewBag.Assets, "PK_ASSET_ID", "ITEMNAME"), "--- Select Item ---")
                    @Html.ValidationMessageFor(model => model.SelectedItemId)
                </td>
                <td>
                    @Html.LabelFor(model => model.POSTINGDATE)<br />

                    <div class="cell input-control text" data-role="datepicker">
                        @Html.TextBoxFor(model => model.POSTINGDATE)
                        @Html.ValidationMessageFor(model => model.POSTINGDATE)
                    </div>
                </td>
                <td>
                    @Html.LabelFor(model => model.SelectedVendorId)<br />

                    @Html.DropDownListFor(model => model.SelectedVendorId, new SelectList(ViewBag.Vendors, "PK_VENDORID", "VENDORNAME"), "--- Select Vendor ---")
                    @Html.ValidationMessageFor(model => model.SelectedVendorId)
                </td>
                <td>
                    @Html.LabelFor(model => model.DESCRIPTION)<br />

                    @Html.EditorFor(model => model.DESCRIPTION)
                    @Html.ValidationMessageFor(model => model.DESCRIPTION)
                </td>
                <td>
                    @Html.LabelFor(model => model.QUANTITY)<br />

                    @Html.EditorFor(model => model.QUANTITY)
                    @Html.ValidationMessageFor(model => model.QUANTITY)
                </td>
                <td>
                    @Html.LabelFor(model => model.INVOICEDQUANTITY)<br />

                    @Html.EditorFor(model => model.INVOICEDQUANTITY)
                    @Html.ValidationMessageFor(model => model.INVOICEDQUANTITY)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.VAT)<br />

                    @Html.EditorFor(model => model.VAT)
                    @Html.ValidationMessageFor(model => model.VAT)
                </td>
                <td>
                    @Html.LabelFor(model => model.UNITPRICE)<br />

                    @Html.EditorFor(model => model.UNITPRICE)
                    @Html.ValidationMessageFor(model => model.UNITPRICE)
                </td>
                <td>
                    @Html.LabelFor(model => model.ITEMCATEGORYCODE)<br />

                    @Html.EditorFor(model => model.ITEMCATEGORYCODE)
                    @Html.ValidationMessageFor(model => model.ITEMCATEGORYCODE)
                </td>
                <td>
                    @Html.LabelFor(model => model.TOTALEXPENSES)<br />

                    @Html.EditorFor(model => model.TOTALEXPENSES)
                    @Html.ValidationMessageFor(model => model.TOTALEXPENSES)
                </td>
                <td>
                    @Html.LabelFor(model => model.EXTRAEXPENSES)<br />

                    @Html.EditorFor(model => model.EXTRAEXPENSES)
                    @Html.ValidationMessageFor(model => model.EXTRAEXPENSES)
                </td>
                <td>
                    @Html.LabelFor(model => model.COMMENTS)<br />

                    @Html.EditorFor(model => model.COMMENTS)
                    @Html.ValidationMessageFor(model => model.COMMENTS)
                    @Html.HiddenFor(model => model.ENTRYFOR)
                </td>
            </tr>
        </table>
        <a class="deleteRow" href="#" onclick="removeRow(this)">x</a>
    </div>
}
