﻿@{
    ViewBag.Title = "TBL_ASSETReport";
}

<h2>TBL_ASSET Report Generator</h2>
<div data-role="accordion" class="accordion large-heading">
    <div id="reportParam" class="accordion-frame active">
        <div class="heading">Report Paramters</div>
        <div class="content" style="display: none;">
            @using (Ajax.BeginForm("EntryFormReport", "TBL_ASSET", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ShowReportArea", LoadingElementId = "loader" }))
            {
                @Html.AntiForgeryToken()
                <label>Report Type</label>
                @Html.DropDownList("RType", String.Empty)
                <label>Unit Selection</label>
                @Html.DropDownList("ForUnit", String.Empty)
                <label>TBL_ASSET Selection</label>
                @Html.DropDownList("TBL_ASSETHead", String.Empty)
                <div data-role="datepicker" class="input-control text">
                    @Html.TextBox("fromDate")
                    <div id="ferrorBox"></div>
                </div>

                <div data-role="datepicker" class="input-control text">
                    @Html.TextBox("toDate")
                    <div id="terrorBox"></div>
                </div>
                <input type="submit" value="Go!" id="getReport" />

            }
        </div>
    </div>
    <div id="reportDet" class="accordion-frame">
        <div class="heading">Report</div>
        <div class="content" style="display: none;">
            <img id="loader" src="~/Images/spinner-md.gif" />
            <div id="ShowReportArea"></div>
        </div>
    </div>
</div>

@section userscript{
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $('#fromDate').change(function () {
            checkDate();
        });
        $('#toDate').change(function () {
            checkDate();
        });
        //$('#getReport').click(function() {
        //    alert('ok!');
        //    $('#reportParam').removeClass("active");
        //    $('#reportDet').addClass("active");
        //});
        function checkDate() {
            var startdate = new Date($('#fromDate').val());
            var enddate = new Date($('#toDate').val());
            if (startdate > enddate) {
                $('#terrorBox').html('');
                $('#ferrorBox').html('<div class="bg-orange">the selected date is larger than <strong>to date</strong></br></br></div>');
                //alert("Oops!!");
            }
            else {
                $('#terrorBox').html('Ok');
                $('#ferrorBox').html('');
            }
        }
    </script>
}
