﻿@{
    ViewBag.Title = "AssetDetail";
}

<h2>AssetDetail</h2>
<div ng-app="app" class="metro">
    <div ng-controller="MyApp">
        @*<pre>{{Name}}</pre>*@
        @*<pre>{{Fname}}</pre>*@
        @*<pre>{{SelectedData}}</pre>*@
    </div>
    <div id="AssetDetils" ng-controller="DetailsAssets">
        <input type="text" ng-model="searchAsset.$" />
        {{searchAsset}}
        @*<pre>{{Selected}}</pre>*@
        <script type="text/ng-template" id="display.html">
            <div class="grid condensed">
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.EntryNum</div>
                    <div class="cell ">
                        {{Selected.id}}
                    </div>
                    <div class="cell labelfor"></div>
                    <div class="cell ">

                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.PostingDate</div>
                    <div class="cell ">
                        {{Selected.Posted_Date_Np}}
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.EntryType</div>
                    <div class="cell ">
                        {{Selected.EType}}
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.Description</div>
                    <div class="cell ">
                        {{Selected.Description}}
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.Quantity</div>
                    <div class="cell ">
                        {{Selected.QTY}}
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.UnitLabel</div>
                    <div class="cell ">
                        {{Selected.UoM}}
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.Waived</div>
                    <div class="cell ">
                        {{Selected.waive}}
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.EntryFor</div>
                    <div class="cell ">
                        {{Selected.EntryFor}}
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.WaivedR</div>
                    <div class="cell ">
                        {{Selected.waiveReason}}
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.InvoicedQuantity</div>
                    <div class="cell ">
                        {{Selected.InvQty}}
                    </div>
                    <div class="cell labelfor">VAT</div>
                    <div class="cell ">
                        {{Selected.VAT}}
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.PriceInclVat</div>
                    <div class="cell ">
                        {{Selected.IncVAT}}
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.UnitPrice</div>
                    <div class="cell ">
                        {{Selected.UnitPrice}}
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.ItemCategoryCode</div>
                    <div class="cell ">
                        {{Selected.Code}}
                    </div>
                    <div class="cell labelfor"></div>
                    <div class="cell ">

                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.ExtraExpenses</div>
                    <div class="cell ">
                        {{Selected.ExtraExp}}
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.TotalExpenses</div>
                    <div class="cell ">
                        {{Selected.Expense}}
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.EntryBy</div>
                    <div class="cell ">
                        {{Selected.EntryBy}}
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.EntryBy</div>
                    <div class="cell ">
                        {{Selected.EntryFrom}}
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.Comments</div>
                    <div class="cell ">
                        {{Selected.comment}}
                    </div>
                    <div class="cell labelfor"></div>
                    <div class="cell ">
                    </div>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="edit.html">
            <div class="grid condensed">
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.EntryNum</div>
                    <div class="cell ">
                        @*{{Selected.id}}*@

                    </div>
                    <div class="cell labelfor"></div>
                    <div class="cell ">

                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.PostingDate</div>
                    <div class="cell ">
                        <input ng-model="Selected.Posted_Date_Np" id="Posted_Date-Np" class="nepali-calendar" />
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.EntryType</div>
                    <div class="cell ">

                        <input ng-model="Selected.EType" />
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.Description</div>
                    <div class="cell ">

                        <textarea ng-model="Selected.Description" />
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.Quantity</div>
                    <div class="cell ">
                        <input ng-model="Selected.QTY" />
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.UnitLabel</div>
                    <div class="cell ">
                        <input ng-model="Selected.UoM" />
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.Waived</div>
                    <div class="cell ">
                        <input ng-model="Selected.waive" id="iswaived" />
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.EntryFor</div>
                    <div class="cell ">
                        <input ng-model="Selected.EntryFor" />
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.WaivedR</div>
                    <div class="cell ">
                        <input ng-model="Selected.waiveReason" id="iswaivedR" />
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.InvoicedQuantity</div>
                    <div class="cell ">
                        <input ng-model="Selected.InvQty" />
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.VAT</div>
                    <div class="cell ">
                        <input ng-model="Selected.EType" />
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.PriceInclVat</div>
                    <div class="cell ">
                        <input ng-model="Selected.IncVAT" />
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.UnitPrice</div>
                    <div class="cell ">
                        <input ng-model="Selected.UnitPrice" />
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.Category</div>
                    <div class="cell ">
                        <input ng-model="Selected.Code" />
                    </div>
                    <div class="cell labelfor"></div>
                    <div class="cell ">

                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.ExtraExpenses</div>
                    <div class="cell ">
                        <input ng-model="Selected.ExtraExp" />
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.TotalExpenses</div>
                    <div class="cell ">
                        <input ng-model="Selected.Expense" />
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.EntryBy</div>
                    <div class="cell ">
                        <input ng-model="Selected.EntryBy" />
                    </div>
                    <div class="cell labelfor">@PRISM.Resource.EntryBy</div>
                    <div class="cell ">
                        <input ng-model="Selected.EntryFrom" />
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell labelfor">@PRISM.Resource.Comments</div>
                    <div class="cell ">
                        <textarea ng-model="Selected.comment" />
                    </div>
                    <div class="cell labelfor"></div>
                    <div class="cell ">
                        <button ng-click="UpdateAsset(Selected)">@PRISM.Resource.Save</button>
                        <button ng-click="reset()" onclick="showDialog('dialog7')">@PRISM.Resource.CancelButton</button>
                    </div>
                </div>
            </div>
        </script>
        <table class="table striped bordered hovered">
            <tr>
                @*<td class="text-left">Item Name</td>
                    <td class="text-left">Quantity</td>
                    <td class="text-left">Specification</td>
                    <td class="text-left">Description</td>
                    <td class="text-left">Extra Expences</td>
                    <td class="text-left">Total</td>
                    <td class="text-left">Date</td>
                    <td class="text-left">Action</td>*@
                <th>@PRISM.Resource.ItemName</th>
                <th>@PRISM.Resource.Quantity</th>
                <th>@PRISM.Resource.Specification</th>
                <th>@PRISM.Resource.Description</th>

                <th>@PRISM.Resource.ExtraExpenses</th>
                <th>@PRISM.Resource.TotalExpenses</th>
                <th>@PRISM.Resource.PurchasedDate</th>
                <th>@PRISM.Resource.EntryDate</th>
                <th>@PRISM.Resource.Actions</th>
            </tr>

            <tr ng-repeat="Asset in Assets | filter:searchAsset">
                <td>{{Asset.Name}}</td>
                <td>{{Asset.QTY}}</td>
                <td>{{Asset.Spec}}</td>
                <td>{{Asset.Description}}</td>
                <td>{{Asset.ExtraExp}}</td>
                <td>{{Asset.Expense}}</td>
                <td>{{Asset.purchaseddate}}</td>
                <td>{{Asset.Posted_Date}}</td>
                <td>
                    <button class="button mini" ng-click="editMyShows(Asset)" onclick="showDialog('dialog7')">Edit</button>
                    <button class="button mini" ng-click="reqDetails(Asset)" onclick="showDialog('dialog7')">Details</button>
                </td>
            </tr>

        </table>
        <div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 540px; overflow: scroll;" data-windows-style="true">
            <div class="container" id="containerid">
                <h1>{{Selected.Name}}</h1>
                <div ng-include="'display.html'" ng-show="isShowd"></div>
                <div ng-include="'edit.html'" ng-show="isShowe"></div>

            </div>
        </div>
    </div>
</div>

@section sparia{
    @using Newtonsoft.Json
    <script>
        @{
            var Alist = JsonConvert.SerializeObject(ViewBag.AssetList);
        }

        var app = angular.module("app", []);
        app.factory("MyService", function () {
            //return { sharedObject: { data: "Deepankar From Factory Service" } };
            return { sharedObject: { data: JSON.parse('@Html.Raw(Alist)') } };
        });
        app.controller("MyApp", function ($scope, MyService) {
            var sc = $scope;
            sc.Name = "Deepankar";
            sc.Fname = MyService.sharedObject.data;

        });
        app.controller("DetailsAssets", function ($scope,$filter,MyService) {
            var asc = $scope;
            asc.Assets = MyService.sharedObject.data;
            //Assets.Posted_Date = $filter('date')(new Date(Assets.Posted_Date), 'MM-DD-YY');
            asc.Selected = {};
            asc.searchAsset='';

            asc.isShowd = true;
            asc.isShowe = false;
            asc.editMyShows = function (Asset) {
                asc.Selected = angular.copy(Asset);
                asc.Selected.Posted_Date_Np = FormatADAndConvert2BS(asc.Selected.Posted_Date);
                asc.isShowe = true;
                asc.isShowd = false;

            };
            asc.reqDetails = function (Asset) {
                asc.Selected = angular.copy(Asset);
                asc.Selected.Posted_Date_Np = FormatADAndConvert2BS(asc.Selected.Posted_Date);
                asc.isShowe = false;
                asc.isShowd = true;
            };
            asc.reset = function () { asc.isShowd = false; asc.isShowe = false; asc.Selected={};};
            asc.GetEditDetailTemplate = function (Asset) {
                if (Asset.id === asc.Selected.id) {
                    return  'edit';
                }
                else {
                    return 'display';
                }
            }
            asc.UpdateAsset = function (Selected) {                
                Selected.Posted_Date = BS2AD($('#Posted_Date-Np').val());
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(Selected),
                    url: '/Assets/UpdateAsset',
                    success: function (data, status) {
                        //$scope.clear();
                    },
                    error: function (status) {
                        alert(status.data);
                    },
                    processData:false
                });
            }
        });
        app.filter("NpDateFormat", function () {
            return function (x) {
                var engDate = new Date(x);
                return AD2BS(engDate.getFullYear() + '-' + (parseInt(engDate.getMonth())+1) + '-' + engDate.getDate());
            }
        });

        function FormatADAndConvert2BS(engDateString) {
            var npDate,engDate = engDateString.substring(0, 10);
            try {
                var npDate = AD2BS(engDate);
            } catch(e) {
                npDate = 'NaN-NaN-NaN';
            }
            if (npDate == 'NaN-NaN-NaN')
                npDate = '';
            return npDate;
        }

        function showDialog(id) {
            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                angular.element(document.getElementById('AssetDetils')).scope().reset();
                dialog.close();

            }
        }
    </script>
}