﻿@using PRISM.Filters
@model PRISM.TBL_ASSETLEDGER
@{
    ViewBag.Title = "iCreateALE";
    
 }

<script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#QUANTITY').blur(function () {       
            OnChangeEvent();
        });
        $('#VAT').blur(function () {
            OnChangeEvent();
        });
        $('#UNITPRICE').blur(function () {
            OnChangeEvent();
        });
        $('#EXTRAEXPENSES').blur(function () {
            OnChangeEvent();
        });
    });
   
    
    function OnChangeEvent() {
        var vat = $('#VAT').val();
        var unitprice = $('#UNITPRICE').val();
        var quantity = $('#QUANTITY').val();
        var extraExp = $('#EXTRAEXPENSES').val().length ? $('#EXTRAEXPENSES').val() : 0;
        
        if (vat.length && unitprice.length && quantity.length) {
            totalExp = parseFloat((vat * unitprice * quantity / 100)) + parseFloat(unitprice * quantity) + parseFloat(extraExp);
            $('#TOTALEXPENSES').val(totalExp);
        }
    }
    //$(document).ready(function () {
    //    $('#unitprice').change(function () {
    //       //your code
    //    });
    //});
</script>

@using (Html.BeginForm("CreateM002", "Assets", FormMethod.Post, new { @class = "foMxHeiForAjx" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>@ViewBag.HeadMessage</h2>

    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.SelectedItemId)</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.SelectedItemId, new SelectList(ViewBag.Assets, "PK_ASSET_ID", "ITEMNAME"), @PRISM.Resource.SelectItem)
                @Html.ValidationMessageFor(model => model.SelectedItemId)
                @*@Html.DropDownList("AssetHead", String.Empty)*@
            </div>
            <div class="cell labelfor">@Html.LabelFor(model => model.POSTINGDATE)</div>
            <div class="cell">
                
                @Html.TextBox("POSTINGDATE-np", null, new { @class = "nepali-calendar" })
                @Html.ValidationMessageFor(model => model.POSTINGDATE)
                @Html.TextBoxFor(model => model.POSTINGDATE, new { @class = "nepali-calendar" })
                
            </div>
            
        </div>
        <div class="row cells4">
            <div class="cell labelfor"><label>@PRISM.Resource.Vendor</label></div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.SelectedVendorId, new SelectList(ViewBag.Vendors, "PK_VENDORID", "VENDORNAME"), @PRISM.Resource.SelectVendor)
                @Html.ValidationMessageFor(model => model.SelectedVendorId)
                @*@Html.DropDownList("vendorColxn", string.Empty)*@
            </div>
            <div class="cell labelfor">@Html.LabelFor(model => model.DESCRIPTION)</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.DESCRIPTION)
                @Html.ValidationMessageFor(model => model.DESCRIPTION)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.INVOICEDQUANTITY)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.INVOICEDQUANTITY)
                @Html.ValidationMessageFor(model => model.INVOICEDQUANTITY)
            </div>
        <div class="cell labelfor">@Html.LabelFor(model => model.QUANTITY)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.QUANTITY)
                @Html.ValidationMessageFor(model => model.QUANTITY)
            </div>
            </div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.VAT)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.VAT)
                @Html.ValidationMessageFor(model => model.VAT)
            </div>
            <div class="cell labelfor">@Html.LabelFor(model => model.UNITPRICE)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.UNITPRICE)
                @Html.ValidationMessageFor(model => model.UNITPRICE)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.ITEMCATEGORYCODE)</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.ITEMCATEGORYCODE, PrismBaseHelper.ItemCatgoryCodeSelectList)
                @Html.ValidationMessageFor(model => model.ITEMCATEGORYCODE)
            </div>
            <div class="cell labelfor">@Html.LabelFor(model => model.TOTALEXPENSES)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.TOTALEXPENSES)
                @Html.ValidationMessageFor(model => model.TOTALEXPENSES)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.EXTRAEXPENSES)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.EXTRAEXPENSES)
                @Html.ValidationMessageFor(model => model.EXTRAEXPENSES )
            </div>
            <div class="cell labelfor">@Html.LabelFor(model => model.COMMENTS)</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>


        </div>
        <div class="row cells4">
            <div class="cell labelfor"></div>
            <div class="cell ">
            </div>
            <div class="cell labelfor"></div>
            <div class="cell ">
                <input type="submit" value="@PRISM.Resource.Create" />
            </div>
        </div>

    </div>




}
