﻿@using System.Web.UI.WebControls
@model PRISM.TBL_ASSET
@{
    ViewBag.Title = "Edit Master Asset";
}

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

@using (Html.BeginForm("EditMaster", "Assets", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>@PRISM.Resource.EditMaster</h2>
    <div class="grid condensed">
                @Html.HiddenFor(model => model.PK_ASSET_ID)
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.ITEMNAME)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.ITEMNAME)
                @Html.ValidationMessageFor(model => model.ITEMNAME)
            </div>
            <div class="cell labelfor">@Html.LabelFor(model => model.SPECIFICATION)</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.SPECIFICATION)
                @Html.ValidationMessageFor(model => model.SPECIFICATION)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.SelectedUnitId)</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.FK_UOM_ID, new SelectList(ViewBag.UOM, "PK_UOM_ID", "UNITNAME"), PRISM.Resource.SelectUnit)
                @Html.ValidationMessageFor(model => model.SelectedUnitId)
                @*@Html.DropDownList("unitOMes",String.Empty)*@
            </div>
            <div class="cell labelfor">@Html.LabelFor(model => model.ITEM_DESC)</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.ITEM_DESC)
                @Html.ValidationMessageFor(model => model.ITEM_DESC)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.BOOKPAGEID)</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.BOOKPAGEID, new { type = "number", min = "0", max = "100" })
                @Html.ValidationMessageFor(model => model.BOOKPAGEID)
            </div>
            <div class="cell labelfor">@Html.Label(PRISM.Resource.ItemCategoryCode)</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.ITEMCATEGORYCODE, PRISM.Filters.PrismBaseHelper.ItemCatgoryCodeSelectList)
                @Html.ValidationMessageFor(model=>model.ITEMCATEGORYCODE)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor"></div>
            <div class="cell input-control text">
                
            </div>
            <div class="cell "></div>
                <div class="cell ">
                    <input type="submit" value="@PRISM.Resource.Save" />
                </div>
            </div>
    </div>
}