﻿@model PRISM.Models.spAssetsDetails
@{
    ViewBag.Title = "iItemDetail";
}

<h2>@PRISM.Resource.ItemDetailHeader</h2>

<h2>
    <strong>@Html.DisplayFor(model => model.itemid)</strong>
</h2>

<div class="grid condensed">
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.EntryNum</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.ALE)
        </div>
        <div class="cell labelfor"></div>
        <div class="cell ">
            @Html.DisplayFor(model => model.ItemName)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.PostingDate</div>
        <div class="cell ">
           <span class="datespan">@Html.DisplayFor(model => model.postingdate)</span>
        </div>
        <div class="cell labelfor">@PRISM.Resource.EntryType</div>
        <div class="cell ">
            @Html.DisplayFor(e => e.Entrytype)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Description</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="cell labelfor">@PRISM.Resource.Quantity</div>
        <div class="cell ">
            @Html.DisplayFor(e => e.Quantity)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.UnitLabel</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.unitShort)
        </div>
        <div class="cell labelfor"></div>
        <div class="cell ">
            
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.EntryFor</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.UNIT_NAME)
        </div>
        <div class="cell labelfor"></div>
        <div class="cell ">
            
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.InvoicedQuantity</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.InvoicedQuantity)
        </div>
        <div class="cell labelfor">@PRISM.Resource.VAT</div>
        <div class="cell ">
            @Html.DisplayFor(e => e.VAT)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.PriceInclVat</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.PriceIncludeVAT)
        </div>
        <div class="cell labelfor">@PRISM.Resource.UnitPrice</div>
        <div class="cell ">
            @Html.DisplayFor(e => e.UnitPrice)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Category</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.ItemCategoryCode)
        </div>
        <div class="cell labelfor"></div>
        <div class="cell ">
           
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.ExtraExpenses</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.ExtraExpenses)
        </div>
        <div class="cell labelfor">@PRISM.Resource.TotalExpenses</div>
        <div class="cell ">
            @Html.DisplayFor(e => e.TotalExpenses)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.AddedBy</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.PERSON_CODE)
        </div>
        <div class="cell labelfor">@PRISM.Resource.AddedFor</div>
        <div class="cell ">
            @Html.DisplayFor(e => e.UNIT_NAME)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Comments</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.comments)
        </div>
        <div class="cell labelfor"></div>
        <div class="cell ">
        </div>
    </div>
    </div>
