﻿@model IEnumerable<PRISM.Models.spOnHand>
@{
    ViewBag.Title = PRISM.Resource.AddInventoryItem; //"Index";
}



<h2>@PRISM.Resource.AddInventoryItem</h2>
@if (PRISM.RoleRightHelper.HasUserRight("AddAssetMaster"))
{
    @Html.ActionLink(PRISM.Resource.MasterList, "MasterList", null, new { @class = "button primary" })
    @Ajax.ActionLink(PRISM.Resource.AddItemMaster, "CreateMaster", "Assets", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showDialog(xhr,'dialog7')", OnSuccess = "loadCalendarForAsset" }, new { @class = "button primary" })

}
@if (PRISM.RoleRightHelper.HasUserRight("AddAssetItem"))
{
    @Ajax.ActionLink(PRISM.Resource.AddStock, "CreateALE", "Assets", new AjaxOptions { UpdateTargetId = "containerCreateALE", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showDialog(xhr,'dialog8')", OnSuccess = "loadCalendarForAsset" }, new { @class = "button primary" })
    @*@Html.ActionLink("Add Multiple Stocks", "MultipleStocks", "Assets", new { @class = "button primary" })*@
}

<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 500px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerid">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>
            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
<div data-role="dialog" id="dialog8" class="padding20" data-close-button="true" style="display: none; max-height: 500px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerCreateALE">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>
            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
<!--Display inventory data here begin-->
<div class="Master tile-area no-padding" id="placeholderid">
    @using (Html.BeginForm("Index", "Assets", FormMethod.Get))
    {
        <br />
        <div>
            @Html.TextBox("ItemName", "", new { placeholder = PRISM.Resource.ItemName })
            <input type="submit" value="@PRISM.Resource.Search" />
        </div>
    }
    <div class="slave tile-container">
        @if (Model != null)
        {


            foreach (var item in Model)
            {
                <div data-role="tile" class="tile-square">
                    @*<a href="@Url.Action("ItemDetails", "Assets", new { id = item.ale })" onclick="showDialog('dialog7')">*@
                    <a href="@Url.Action("ItemDetails", "Assets", new { id = item.ale })">
                        <strong>@Html.DisplayFor(m => item.ITEMNAME)</strong><br />
                        @Html.DisplayFor(m => item.SPECIFICATION)<br />
                        @Html.DisplayFor(m => item.qty)
                        @Html.DisplayFor(m => item.Unit_of_measure)
                    </a>
                </div>

            }
        }
    </div>
</div>
<!--Display inventory data here end-->
@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        //$(document).ready(function () {
        //$('#dialog7').click(function () {
        //    showDialog(this);
        //});
        //});


        //$.ajax({
        //    type: "POST",
        //    url: "asset/CreateMaster",
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: JSON.stringify(data),
        //    async: true,
        //    complete: function (xhr, status) {
        //        alert(xhr.responseJSON);
        //        if (xhr.responseJSON == CONST_SESSIONTIMEOUT) {
        //            RedirectToLogin(true);
        //            return false;
        //        }
        //        if (status == 'error' || !xhr.responseText) {
        //            alert(xhr.statusText);
        //        }
        //    }
        //});
    </script>
    <script type="text/javascript">

        function loadcalendar() {
            loadCalendarAndConvertDate('POSTINGDATE-np', 'POSTINGDATE');
            loadCalendarAndConvertDate('ENTRYDATE-np', 'ENTRYDATE');
        }

    </script>
}