﻿@model IEnumerable<PRISM.Models.spOnHand>
@{
    ViewBag.Title = "ItemDetails";
}

<h2>@PRISM.Resource.ItemDetailHeader</h2>
<table class="table">
    <tr>
        
        <th>@PRISM.Resource.ItemName</th>
        <th>@PRISM.Resource.Quantity</th>
        <th>@PRISM.Resource.Specification</th>
        <th>@PRISM.Resource.Description</th>
        <th>@PRISM.Resource.Category</th>
        <th>@PRISM.Resource.VAT</th>
        <th>@PRISM.Resource.ExtraExpenses</th>
        <th>@PRISM.Resource.TotalExpenses</th>
        <th>@PRISM.Resource.EntryDate</th>
        <th>@PRISM.Resource.PurchasedDate</th>
        <th>@PRISM.Resource.Actions</th>
        

        

    </tr>
    @foreach (var item in Model)
    {
        <tr  @(item.qty > 0 ? "class=bg-green" : "class=bg-orange")>
            <td>@Html.DisplayFor(model => item.ITEMNAME)</td>
            <td>@Html.DisplayFor(model => item.qty)</td>
            <td>@Html.DisplayFor(model => item.SPECIFICATION)</td>
            <td>@Html.DisplayFor(model => item.item_Desc)</td>
            <td>@Html.DisplayFor(model => item.itemCatCode)</td>
            <td>@Html.DisplayFor(model => item.vat)</td>
            <td>@Html.DisplayFor(model => item.extraexp)</td>
            <td>@Html.DisplayFor(model => item.totalexp)</td>
            <td>@Html.DisplayFor(model => item.ENTRYDATE)</td>
            
            
            
           

            @*<td class="fg-white">@Html.ActionLink("Detail", "iDetail", new { id = item.ale })</td>*@
            <td class="fg-white">@Ajax.ActionLink(@PRISM.Resource.Detail, "iDetail", new { id = item.ale }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showDialog('dialog7')" })</td>
        </tr>
       
    }
</table>
<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 540px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerid">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        //$(document).ready(function () {
        //$('#dialog7').click(function () {
        //    showDialog(this);
        //});
        //});
        function showDialog(id) {
            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }
    </script>
}
