﻿@model IEnumerable<PRISM.TBL_ASSET>
@{
    ViewBag.Title = "Master List";
}

<h2>@PRISM.Resource.MasterList</h2>
<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 500px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerEditMaster">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
<div>
<table class="table">
    <tr>
        
        <th>@PRISM.Resource.Item</th>
        <th>@PRISM.Resource.Specification</th>
        <th>@PRISM.Resource.Description</th>
        <th>@PRISM.Resource.BookPageId</th>
        <th>@PRISM.Resource.ItemCategoryCode</th>
        <th>@PRISM.Resource.EntryDate</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.ITEMNAME)</td>
            <td>@Html.DisplayFor(model => item.SPECIFICATION)</td>
            <td>@Html.DisplayFor(model => item.ITEM_DESC)</td>
            <td>@Html.DisplayFor(model => item.BOOKPAGEID)</td>
            <td>@Html.DisplayFor(model => item.ITEMCATEGORYCODE)</td>
            <td><span class="spandate">@Html.DisplayFor(model => item.ENTRYDATE)</span></td>
            <td class="fg-white">
                @Ajax.ActionLink(@PRISM.Resource.Edit, "EditMaster", "Assets", new { id = item.PK_ASSET_ID }, new AjaxOptions { UpdateTargetId = "containerEditMaster", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "showDialog(xhr, 'dialog7')" , OnSuccess = "loadCalendarForAsset" })</td>
        </tr>
       
    }
</table>
    </div>

@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    
    <script type="text/javascript">

        function loadcalendar() {
            loadCalendarAndConvertDate('POSTINGDATE-np', 'POSTINGDATE');
            loadCalendarAndConvertDate('ENTRYDATE-np', 'ENTRYDATE');
        }

    </script>
}
