﻿@model IEnumerable<PRISM.TBL_ASSETLEDGER>
@{
    ViewBag.Title = "MultipleStocks";
}

<h2>MultipleStocks</h2>

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="editorRows">
        @*<table id="editorTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SelectedItemId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.POSTINGDATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SelectedVendorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DESCRIPTION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ENTRYTYPE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QUANTITY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INVOICEDQUANTITY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UNITPRICE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ITEMCATEGORYCODE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TOTALEXPENSES)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EXTRAEXPENSES)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.COMMENTS)
                </th>
                <th></th>
            </tr>
            </table>*@
        @foreach (var item in Model)
        {
            Html.RenderPartial("_SingleStock", item);
        }
    </div>
        
@*@Ajax.ActionLink("Add Stocks", "SingleStock", "Assets", new AjaxOptions { InsertionMode = InsertionMode.InsertAfter, HttpMethod = "POST" })*@
    @Html.ActionLink("Add Stock", "SingleStock", new { ViewContext.FormContext.FormId }, new { id = "addStock" })

    <input type="submit" value="Save" />
   
}

@section userscript {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#addStock").click(function () {
                $.ajax({
                    url: this.href,
                    cache: false,
                    success: function (html) {
                        $('#editorRows').append(html);
                    }
                });
                return false;
            });
        });

        function removeRow(self) {
            $(self).parents("div.editorRow").remove();
            return false;
        }
    </script>
}