﻿@model PRISM.TBL_MEASURINGUNITS_MASTER

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TBL_MEASURINGUNITS_MASTER</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.unitName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unitName)
            @Html.ValidationMessageFor(model => model.unitName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UNITSHORT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UNITSHORT)
            @Html.ValidationMessageFor(model => model.UNITSHORT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESCRIPTION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESCRIPTION)
            @Html.ValidationMessageFor(model => model.DESCRIPTION)
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.entryid)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.entryid)
                @Html.ValidationMessageFor(model => model.entryid)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.entryname)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.entryname)
                @Html.ValidationMessageFor(model => model.entryname)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.createdDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.createdDate)
                @Html.ValidationMessageFor(model => model.createdDate)
            </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
