﻿@model PRISM.TBL_MEASURINGUNITS_MASTER

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TBL_MEASURINGUNITS_MASTER</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unitid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unitid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.guid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.guid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unitName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unitName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UNITSHORT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNITSHORT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESCRIPTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCRIPTION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.entryid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entryid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.entryname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entryname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.createdDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
