﻿@model PRISM.TBL_MEASURINGUNITS_MASTER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TBL_MEASURINGUNITS_MASTER</legend>



    <div class="display-label">
        @Html.DisplayNameFor(model => model.unitName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unitName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UNITSHORT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UNITSHORT)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DESCRIPTION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESCRIPTION)
    </div>

    @*<div class="display-label">
             @Html.DisplayNameFor(model => model.entryid)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.entryid)
        </div>*@

    <div class="display-label">
        @Html.DisplayNameFor(model => model.entryname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entryname)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.createdDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdDate)
    </div>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>