﻿@model IEnumerable<PRISM.Item>
@{
    ViewBag.Title = "Index admin";
    
}
<h2>Transfer</h2>
<div class="Master tile-area no-padding">
    <div class="slave tile-container">
        @foreach (var item in Model)
        {
            <div data-role="tile" class="tile-square">
                @* @Html.DisplayFor(m => item.ITEMNAME)*@
                @*<strong>@Html.ActionLink(item.ITEMNAME, "Detail", new { id = item.id })<br></strong>
                @Html.DisplayFor(m => item.SPECIFICATION)<br>
                @Html.DisplayFor(m => item.QUANTITY) @Html.DisplayFor(m => item.unit)*@
                <a href="@Url.Action("Detail", "Handover", new { id=item.id})">
                    <strong> @Html.DisplayFor(m=> item.ITEMNAME)</strong><br />
                    @Html.DisplayFor(m=>item.SPECIFICATION)<br />
                    @Html.DisplayFor(m=>item.QUANTITY)
                </a>
            </div>

        }
    </div>
</div>