﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BarChart</title>
</head>
<body>
    <div>
        @{
            var data = db.Database.SqlQuery<PRISM.Models.AssetsQuantity>(@"select opr1.ItemName ITEMNAME,  nvl(opr1.qty,0) -nvl(opr2.qty,0) ONHAND from  
                                    (select a.ItemName,nvl(sum(abs(quantity)),0) qty from  TBL_ASSETLEDGER AL, tbl_asset a where al.fk_asset_id=a.pk_asset_id and entryFor='PHQ' group by a.ItemName)opr1 
                                    left join
                                    (select a.ItemName,sum(abs(NVL(quantity,0))) qty from  TBL_ASSETLEDGER AL, tbl_asset a where al.fk_asset_id=a.pk_asset_id and entryUnit='PHQ' group by a.ItemName)opr2

                                    on opr1.ItemName=opr2.ItemName where rownum<=5 order by onhand desc").ToList<PRISM.Models.AssetsQuantity>();

            var myChart = new Chart(width: 600, height: 400)
                .AddTitle("Chart Title")
                .DataBindTable(dataSource: data, xField: "Col1")
                .Write();
}
    </div>
</body>
</html>
