﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
<section class="featured"></section>
    }
<div data-scroll="vertical" data-role="scrollbox">
    <h1 style="padding: 30px;">Welcome to Nepal Police Inventory</h1>
    @*<h2>@PRISM.Resource.AddInventoryItem</h2>
    <div class="OuterOuter">
        <div class="Innertop">
            <div class="small float-left imageplace">
                <img src="../Images/linechart1.png" style="height:180px;width:293px;" />
            </div>
            <div class="large float-right">
                <div class="dashboard-content">
                    <p><strong class="scream"> @ViewBag.itemcount</strong> @Html.ActionLink("Items in Inventory", "Index", "Inventory")</p>
                    <p><strong class="scream"> @ViewBag.uncatogorized</strong>@Html.ActionLink("uncatogorized Items", "Index", "Categorize")</p>
                    <!--<p class="scream"></p>-->
                </div>
            </div>
        </div>
        <div class="Innerbottom">
            <div class="large float-left">
                <img src="../Images/ia_8001_vertical_bar_chart.gif" style="width: 584px; height: 200px;" />
            </div>
            <div class="small float-right">
              
                    @ViewBag.sessonset2
                        @ViewBag.sessonset1
                            @ViewBag.sessonset3
                    
                
            </div>
        </div>
    </div>*@
</div>