﻿@model IEnumerable<PRISM.Models.spItems>
@{
    ViewBag.Title = "Testpage";
}


<h2>Testpage</h2>

<div class="metro">
    <nav class="navigation-bar"> <div class="navigation-bar-content"> <a class="element" href="/"><span class="icon-grid-view"></span> METRO UI CSS <sup>2.0</sup></a> <span class="element-divider"></span> <a href="#" class="pull-menu"></a> <ul class="element-menu" style=""> <li> <a href="#" class="dropdown-toggle">Base CSS</a> <ul data-role="dropdown" class="dropdown-menu "> <li><a href="requirements.html">Requirements</a></li> <li> <a class="dropdown-toggle" href="#">General CSS</a> <ul data-role="dropdown" class="dropdown-menu"> <li><a href="global.html">Global styles</a></li> <li><a href="grid.html">Grid system</a></li> <div class="divider"></div> <li><a href="typography.html">Typography</a></li> <li><a href="tables.html">Tables</a></li> <li><a href="forms.html">Forms</a></li> <li><a href="buttons.html">Buttons</a></li> <li><a href="images.html">Images</a></li> </ul> </li> <li class="divider"></li> <li><a href="responsive.html">Responsive</a></li> <li class="disabled"><a href="layouts.html">Layouts and templates</a></li> <li class="divider"></li> <li><a href="icons.html">Icons</a></li> </ul> </li> <li> <a href="#" class="dropdown-toggle">Community</a> <ul data-role="dropdown" class="dropdown-menu"> <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li> <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li> <li class="divider"></li> <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li> <li class="divider"></li> <li><a href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">License</a></li> </ul> </li> </ul> <div class="no-tablet-portrait"> <span class="element-divider"></span> <a href="#" class="element brand"><span class="icon-spin"></span></a> <a href="#" class="element brand"><span class="icon-printer"></span></a> <span class="element-divider"></span> <div class="element input-element"> <form> <div class="input-control text"> <input type="text" placeholder="Search..."> <button class="btn-search"></button> </div> </form> </div> <div class="element place-right"> <a href="#" class="dropdown-toggle"> <span class="icon-cog"></span> </a> <ul data-role="dropdown" class="dropdown-menu place-right"> <li><a href="#">Products</a></li> <li><a href="#">Download</a></li> <li><a href="#">Support</a></li> <li><a href="#">Buy Now</a></li> </ul> </div> <span class="element-divider place-right"></span> <button class="element image-button image-left place-right"> Sergey Pimenov <img src="images/me.jpg"> </button> </div> </div> </nav>
    <div class="cell padding20 bg-white">
        <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
    </div>
</div>
<div class="Master tile-area no-padding">
    <div class="slave tile-container">
        @foreach (var item in Model)
        {
            <div data-role="tile" class="tile-square">
                @Html.DisplayFor(modelItem => item.bookpgid)
                <br />
                @Html.DisplayFor(modelItem => item.ITEMNAME)
                <br />
                @Html.DisplayFor(modelItem => item.SPECIFICATION)
                <br />
                @Html.DisplayFor(modelItem => item.onHand)
                
                @Html.DisplayFor(modelItem => item.unit)
            </div>
        }
    </div></div>
    <div id="diveditProd">
        <h3>KO binding on table</h3>
        <table>
            <thead>
                <tr>
                    <td>product code 1</td>
                    <td>product Name</td>
                    <td>product Price</td>
                    <td>product QUANTITY</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: currentProduct">
                <tr>
                    <td><strong data-bind="text: productCode"></strong></td>
                    <td><strong data-bind="text: productName"></strong></td>
                    <td><strong data-bind="text: producPrice"></strong></td>
                    <td><strong data-bind="text: productqty"></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
<div class="Stepexample" style="width:300px;">
    <div class="wizard2" data-role="wizard2">
        <div class="step">
            <div class="step-content">
                <div class="clear-float">content000</div>
                <div class="place-left">content000 2</div>
            </div>
        </div>
        <div class="step">
            <div class="step-content">
                <div class="clear-float">content001</div>
                <div class="place-left">content001 2</div>
            </div>

        </div>
    </div>
</div>
    <div id="optionall">
        @*@ViewData["jsondata"]*@
        <select data-bind="options: dataCollection,optionsText:'Item'" />
    </div>
<div class="input-control text" data-role="datepicker">
    <input type="text">
    <button class="button"><span class="mif-calendar"></span></button>
</div>









    @section userscript{
        <link href="~/Content/jquery.jscrollpane.metro.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="~/Scripts/knockout-2.2.0.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.jscrollpane.js"></script>

        <script type="text/javascript">
            /*knockout test begin*/
            var stockonhand = @Html.Raw(Json.Encode(ViewData["jsondata"]))
            function product(code, name, price, qty) {
                var self = this;
                self.productCode = code;
                self.productName = name;
                self.producPrice = price;
                self.productqty = qty;
            }
            function productViewModel() {
                var self = this;
                self.currentProduct = ko.observable([new product("p1", "LED", 45000.00, 100), new product("p2", "LED2", 42000.00, 100), new product("p3", "LED3", 43000.00, 100), new product("p4", "LED4", 44000.00, 100)]);
            }

            function itemsModel(data) {
                var self = this;
                self.Item = ko.observable(data);

            }
            function itemsViewModel() {
                var self = this;
                self.dataCollection = ko.observableArray([]);
                var mappedData = $.map(["map", "my", "array"], function (d) {
                    return new itemsModel(d);
                });
                self.dataCollection(mappedData);
            }

            //pgid,iname,speci,classi,unit,oh,cpu,tpu,pono,entdate,tot
            //function iitemsModel(pgid, iname, speci, classi, unit, oh, cpu, tpu, pono, entdate, tot) {
            //    var self = this;
            //    self.bookpgid = pgid;
            //    self.ITEMNAME=iname;
            //    self.SPECIFICATION= speci;
            //    self.classification= classi;
            //    self.unit=unit;
            //    self.onHand=oh;
            //    self.costPerUnit=cpu;
            //    self.taxPU=tpu;
            //    self.purchaseOrderNo=pono;
            //    self.ENTRYDATE=entdate;
            //    self.Total=tot;

            //}

            //function IitemsViewModel() {
            //    var self = this;
            //    self.ItemsCollection = ko.observableArray([]);
            //    //self.ItemsCollection(stockonhand);
            //    var itemsmapped = $.map(stockonhand, function (pgid, iname, speci, classi, unit, oh, cpu, tpu, pono, entdate, tot) {
            //        return new iitemsModel(pgid, iname, speci, classi, unit, oh, cpu, tpu, pono, entdate, tot)
            //    });
            //}

            $(document).ready(function () {
                $("#datepicker").datepicker();
                ko.applyBindings(new productViewModel(), $('#diveditProd')[0]);
                $('.scroll-pane').jScrollPane({ showArrows: true });
                ko.applyBindings(new itemsViewModel(), $('#optionall')[0]);
                //ko.applyBindings(new iitemsModel(), $('#dataloadplace')[0]);
                /*local json loading begin*/
                var final = JSON.Parse(stockonhand);
                self.onhandrec = null;
                self.onhandrec = ko.observableArray([]);
                self.onhandrec(stockonhand);
                alert(fianl);
                /*local json loading end*/
            });
            /*knockout test end*/
        </script>
    }
