﻿
@model PRISM.Models.OrgHierarchy
@{

    ViewBag.Title = "Test";
}
<h2>
    @*<script src="~/Scripts/jquery-2.1.1.min.js"></script>        *@
   @* <script src="~/Scripts/dtree.js"></script>
    <link href="~/Content/dtree.css" rel="stylesheet" />*@
    <script>
        //$(document).ready(function () {
        //    $(".dTree").dTree({
        //        closeSameLevel: true, // close same level nodes                  
        //        useCookie: true, // enable cookie support          
        //    });
        //});



        $("#btn").click(function () {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Home/PopulateUnit',
                //data: { 'PERSON_CODE': $("#UnitList").val(), 'entryType': 2, 'entryType2': 4 },
                data: { 'maste': 'NEP' },
                success: function (result) {
                    if (result.length > 0) {
                        $('#divUnit').append("<ul>");
                        $.each(result, function (index, value) {

                            $('#divUnit').append("<li>" + value.UnitName + "</li>");
                            ////$('#getwlSerial').append($("<option value='" + value.PK_Weapons_ID + "'>" + value.Serial_No + "</option>"));
                            //$('#SerialNo').append($("<option value='" + value.PK_WEAPONS_ID + "'>" + value.SERIAL_NO + "</option>"));
                            ////$('#WeaponName').append($("<option value='" + value.PK_Weapons_ID + "'>" + value.Weapon_Name + "</option>"));
                            //$('#FK_WEAPON_DETAIL').append($("<option value='" + value.PK_WEAPONS_ID + "'>" + value.WEAPON_NAME + "</option>"));
                            ////  alert($('#wlserial').html);
                        })
                        $('#divUnit').append("</ul>");
                    }
                }
            });
        });

    </script>
    
    <span class="collapsible"><img src="../Images/accent.png" /></span>
    Tree View Demo!!!</h2>
<div class="dTree">
    <ul>
        <li>
            <a href="#">@Model.UnitName</a>
            @Html.Partial("ChildNode", Model.ChildNodes)
        </li>
    </ul>
</div>


<div>
    <input type="btn" value="Unit" />
</div>
<div id="divUnit">

</div>