﻿@{
    ViewBag.Title = "Reports";
}
<div class="well bs-component">
    @using (Ajax.BeginForm("Report", "Reports", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ShowReportArea", LoadingElementId = "loadingdiv" }, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>Report Filter</legend>
            
            <div class="col-lg-6">
                <div class="form-group">
                @Html.Label("Report Type", new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-7">
                        @Html.DropDownList("ReportType", null, new { @class = "form-control" })
                    </div>
                    </div>

                     <div class="form-group datefilter" id="startDateDiv">
                    @Html.Label("Start Date", new { @class = "col-lg-4 control-label " })
                    <div class="col-lg-7">
                        @Html.TextBox("StartDate", null, new { @class = "form-control nepalidate" })
                        @Html.TextBox("StartDate-np",null, new {@class="nepali-calendar"})

                    </div>
                </div>
            
                <div class="form-group primaryfilter" id="reportForDiv">
                    
                    @Html.Label("Report For", new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.DropDownList("ReportFor", null, new { @class = "form-control" })
                        </div>
                </div>
               

                <div class="form-group unitpersonfilter" id="unitPersonDiv">
                    @Html.Label("Unit/Person", new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-7">
                        <select id="unitPersonSelect" class="form-control">
                            <option value="0">All</option>
                        </select>
                        @Html.Hidden("unitorperson", String.Empty)

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group" id="waItemsDiv">
                    <div class="waItemsDiv">
                    @Html.Label("WA items", new { @class = "col-lg-4 control-label" })
                        <div class="col-lg-7">
                            @Html.DropDownList("WAitems", null, new { @class = "form-control" })
                        </div>
                        </div>
                </div>

                <div class="form-group datefilter" id="endDateDiv">
                    @Html.Label("End Date", new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-7">
                        @Html.TextBox("EndDate", null, new { @class = "form-control nepalidate" })
                        @Html.TextBox("EndDate-np",null, new {@class="nepali-calendar"})


                    </div>
                </div>

                <div class="form-group unitpersonfilter" id="assetTypeDiv">
                    @Html.Label("Asset Type", new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-7">
                        <select id="assetTypeSelect" class="form-control">
                            <option value="0">All</option>
                        </select>
                        @Html.Hidden("Item", String.Empty)
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="form-group">
                <label class="col-lg-4 control-label"></label>
                <button type="submit" class="btn btn-primary">Generate Report</button>
            </div>
        </fieldset>
            <div>
                @*<div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Checkbox
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Radios</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Option one is this
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br>
        <select multiple="" class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>*@

            </div>
           
@*<div class="wizardscene">
                    <div>
                        @Html.Label("Report")
                        @Html.DropDownList("ReportType", String.Empty)
                        @Html.Label("For")
                        @Html.DropDownList("ReportFor", String.Empty)
                        @Html.Label("Asset")
                        @Html.DropDownList("WAitems", String.Empty)
                    </div>
                    <div>
                        @Html.Label("Start Date")
                        <div data-role="datepicker" class="input-control text">
                            @Html.TextBox("date1")
                            <div id="ferrorBox"></div>
                        </div>
                        @Html.Label("End Date")
                        <div data-role="datepicker" class="input-control text">
                            @Html.TextBox("date2")
                            <div id="terrorBox"></div>
                        </div>

                    </div>
                    <div>
                        @Html.Label("Unit/Person")
                        <select id="Uorp">Serial</select>
                        @Html.Hidden("unitorperson", String.Empty)
                        @Html.Label("Asset Type")
                        <select id="UItems">Items</select>
                        @Html.Hidden("Item", String.Empty)

                    </div>
                    <input type="submit" value="go!"></input>
                </div>*@

    }
</div>
<div id="loadingdiv" class="content" style="display: none; text-align: center;">
    <img id="loader" src="~/Images/spinner-md.gif" />
</div>
<div id="ShowReportArea"></div>

@section styles{
    @Styles.Render("~/Content/bootstrap")
}



@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(function () {
            loadCalendarAndConvertDate('StartDate-np', 'StartDate');
            loadCalendarAndConvertDate('EndDate-np', 'EndDate');

            toggleFilters($('#ReportType').val());

            $('#ReportType').change(function () {
                toggleFilters($(this).val());
            });

            $('#StartDate').change(function () {
                checkDate();
            });
            $('#EndDate').change(function () {
                checkDate();
            });

            $('#ReportFor').change(function () {

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Reports/Getfortype',
                    data: { 'fortype': $('#ReportFor').val() },
                    success: function (result) {
                        if (result.length > 0) {
                            $('#Uorp').html('');
                            $.each(result, function (index, value) {

                                $('#unitPersonSelect').append($("<option value='" + value.id + "'>" + value.display + "</option>"));
                            });
                        }
                    }

                });

            });
            $('#WAitems').change(function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Reports/GetItemList',
                    data: { 'Itype': $('#WAitems').val() },
                    success: function (result) {
                        if (result.length > 0) {
                            $('#UItems').html('');
                            $.each(result, function (index, value) {

                                $("#assetTypeSelect").append($("<option value='" + value.id + "'>" + value.display + "</option>"));
                            });
                        }
                    }
                });

            });
            $('#unitPersonSelect').change(function () {
                $('#unitorperson').val($('#unitPersonSelect :selected').val());
            });

            $('#assetTypeSelect').change(function () {
                $('#Item').val($('#assetTypeSelect :selected').val());
            });
        });


        function hideDateFilter() {
            $('.datefilter').hide();
            $('#StartDateTxt').val('');
            $('#StartDate').val('');
            $('#EndDateTxt').val('');
            $('#EndDate').val('');
        }

        function toggleFilters(reportType) {
            if (reportType == 'दाखिला प्रतिबेदन(४६)') {
                $('.primaryfilter').hide();
                hideDateFilter();
                $('.unitpersonfilter').hide();
                $('.waItemsDiv').show();
            }
            else if (reportType == 'हस्तान्तरण(४८)') {
                $('.primaryfilter').show();
                $('.unitpersonfilter').hide();
                $('.waItemsDiv').show();
                hideDateFilter();
            }
            else if (reportType == 'जिन्सि निसर्ग | मिनाहा फारम(५०)') {
                $('.primaryfilter').hide();
                $('.datefilter').show();
                $('.unitpersonfilter').hide();
                $('.waItemsDiv').hide();

            }
            else if (reportType == 'जिन्सी मौज्दातको विवरण(५७)') {
                $('.primaryfilter').hide();
                $('.datefilter').show();
                $('.unitpersonfilter').hide();
                $('.waItemsDiv').hide();

            }
            else {
                $('.primaryfilter').show();
                $('.unitpersonfilter').hide();
                hideDateFilter();
                $('.waItemsDiv').show();
            }
        }


        function checkDate() {
            var startdate = new Date($('#StartDate').val());
            var enddate = new Date($('#EndDate').val());
            if (startdate > enddate) {
                $('#terrorBox').html('');
                $('#ferrorBox').html('<div class="bg-orange">the selected date is larger than <strong>to date</strong></br></br></div>');
                //alert("Oops!!");
            }
            else {
                $('#terrorBox').html('Ok');
                $('#ferrorBox').html('');
            }
        }


    </script>
}




