﻿@model PRISM.Models.PersonnelSearch
@{
    ViewBag.Title = "Index";
}

@*<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@

<h2>Find Person</h2>
@*@using (Html.BeginForm("Search", "Personnel", FormMethod.Post, new { @class = "foMxHeiForAjx" }))
{
    *@<div>
        @Html.AntiForgeryToken()
        <div style="color: #ee0000">
            @Html.ValidationSummary(true)
        </div>

        <div class="grid condensed">
            <div class="row cells4">
                <div class="cell labelfor">@PRISM.Resource.Name</div>
                <div class="cell ">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="row cells4">
                <div class="cell labelfor">@PRISM.Resource.Rank</div>
                <div class="cell ">
                    @*@Html.DropDownListFor(model=>model.Rank,ViewBag.RankList as SelectList)*@
                    @Html.DropDownListFor(model=>model.Rank,Model.Ranks,"")
                    @*@Html.TextBoxFor(model => model.Rank)*@
                    @Html.ValidationMessageFor(model => model.Rank)
                </div>
            </div>
            <input type="button" id="btnSearch" name="btnSearch" value="Search" onclick="searchPerson(); return false;" />&nbsp;<input type="button" value="OK" id="btnOK" onclick="$('#dialog7').data('dialog').close()" />
        </div>
        <div>
           @* @Html.TextBox("txtSelectedPersonnel",null,new {@id="txtSelectedPersonnel"})*@
           
        </div>
        <div style="max-height:200px; width: 100%; overflow:scroll;">
            
            <table id="SearchPersonResultsTbl" class="table striped bordered hovered">
                <tr>
                    <th>Personnel Code</th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Rank</th>
                </tr>
                @* @if (ViewData["UserDetails"] != null)
            {
                foreach (var user in ViewData["UserDetails"] as List<PRISM.VIEW_AUTH>)
                {
                <tr>
                    <td class="code">@user.PERSON_CODE</td>
                    <td class="name">@user.NAME</td>
                    <td class="rank">@user.RANK_NAME</td>
                </tr>
                }
            }*@

            </table>

        </div>
    </div>
@*}*@

@section userscript{
    <script type="text/javascript">

        $(document).ready(function () {
            
            $("#SearchPersonResultsTbl td").click(function (event) {
                var selectedCode = ($(this).closest('tr').children('td.code').text());
                $('#txtSelectedPersonnel').val(selectedCode);
                alert(1);

            });
        });

        
        function searchPerson() {
            alert(1);
        }

</script>
    }