﻿@model PRISM.TBL_CONSUMPTION_PERIOD
@{
    ViewBag.Title = "iConsumptionPeriod";
}
<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<h2>@PRISM.Resource.ConsumptionPeriodSetup</h2>
<div class="grid condensed">
    @using (Html.BeginForm("AddConsumptionPeriod", "settings", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.ConsumptionPeriodForItem</div>
            <div class="cell ">                
                @*@Html.DropDownList("ConsumptionItem", string.Empty)*@
                @Html.DropDownListFor(model => model.FK_ITEMID, ViewBag.ConsumptionItem as SelectList, @PRISM.Resource.SelectItem)
                @Html.ValidationMessageFor(model => model.FK_ITEMID)
            </div>
            <div class="cell labelfor">@PRISM.Resource.Period</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.CONSUMPTIONPERIOD, new { type = "number" })
                @Html.ValidationMessageFor(model => model.CONSUMPTIONPERIOD)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.AllowedQuantity</div>
            <div class="cell ">
                @*@Html.EditorFor(xs => Model.VendorName)*@
               @Html.EditorFor(model => model.ALLOWEDQTY, new { type="number"})
                @Html.ValidationMessageFor(model => model.ALLOWEDQTY)
            </div>
            @*<div class="cell labelfor">Duration</div>
            <div class="cell ">
                @Html.DropDownList("TimeFrams", string.Empty)
            </div>*@
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Duration</div>
            <div class="cell ">
                @*@Html.EditorFor(xs => Model.VendorName)*@
                @Html.DropDownListFor( model=>model.CONSUMPTIONTIME,ViewBag.TimeFrams as SelectList, @PRISM.Resource.SelectTimeSpan)
                @Html.ValidationMessageFor(model => model.CONSUMPTIONTIME)
            </div>
            <div class="cell labelfor"></div>
            <div class="cell ">
               <input type="submit" value="@PRISM.Resource.Create"/>
            </div>
        </div>
    }
</div>
