﻿@model PRISM.Models.spConsumption

@{
    ViewBag.Title = "iDetailConsuptionP";
}

<h2>Edit Consumption Period</h2>
@using (Html.BeginForm("UpdateConsumptionP","Settings",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="grid condensed">
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.ItemName</div>
        <div class="cell ">
            @Html.TextBoxFor(model => model.ITEMNAME, new { disabled = "disabled" })
        </div>
        <div class="cell labelfor">@PRISM.Resource.AllowedQuantity)</div>
        <div class="cell ">
            @Html.TextBoxFor(model => model.allowedQty)

            @Html.Hidden("hddSerialNo", "")
            @Html.HiddenFor(model => model.Dateid)
            @Html.HiddenFor(model => model.FK_ASSET_ID)
           
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Period</div>
        <div class="cell ">
            @Html.TextBoxFor(model => model.consumpPeriod)
        </div>
        <div class="cell labelfor">@PRISM.Resource.Duration)</div>
        <div class="cell ">
            @*@Html.TextBoxFor(model => model.ConsumpTime)*@
            @Html.DropDownListFor(model => model.ConsumpTime, ViewBag.TimeFrams as SelectList, @PRISM.Resource.SelectTimeSpan)

        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Description</div>
        <div class="cell ">
            @Html.TextBoxFor(model => model.itemDesc, new { disabled = "disabled" })
        </div>
        <div class="cell labelfor"></div>
        <div class="cell ">
          <input type="submit" value="@PRISM.Resource.Save" />
            <input type="button" onclick="window.history.back()" value="@PRISM.Resource.CancelButton" class="cancel-button btn-form" />
        </div>
    </div>
</div>

}
