﻿@model PRISM.TBL_MEASURINGUNITS_MASTER
@{
    ViewBag.Title = "iEditUnitOfMeasure";
}

<h2>iEditUnitOfMeasure</h2>
@using (Html.BeginForm("updateUnitOfMeasure","Settings",FormMethod.Post))
{
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Unit :
            </div>
            <div class="cell">
                @Html.DisplayFor(m=>m.UNITNAME)
                @Html.ValidationMessageFor(xs => Model.UNITNAME)
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.PK_UOM_ID, new { disabled = "disabled" })
                @Html.HiddenFor(m => m.PK_UOM_ID)
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Unit :
            </div>
            <div class="cell">
               @Html.TextBoxFor(m => m.UNITNAME)
                @Html.ValidationMessageFor(xs => Model.UNITNAME)
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.UnitShort :
            </div>
            <div class="cell">
               @Html.TextBoxFor(m => m.UNITSHORT)
                @Html.ValidationMessageFor(xs => Model.UNITSHORT)
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Description :
            </div>
            <div class="cell">
               @Html.TextBoxFor(m => m.DESCRIPTION)
                @Html.ValidationMessageFor(xs => Model.DESCRIPTION)
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">

            </div>
            <div class="cell">
                <input type="submit" value="Save" />
                <input value="Cancel" onclick="history.go(-1);" type="button" />
            </div>

        </div>
    </div>
    
}





