﻿@model PRISM.TBL_VENDOR

@using (Html.BeginForm("updateVendor", "Settings", FormMethod.Post))
{
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">

            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.PK_VENDORID, new { disabled = "disabled" })
                @Html.HiddenFor(m => m.PK_VENDORID)
            </div>
            <div class="cell labelfor">
                @PRISM.Resource.VendorName
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.VENDORNAME)
                @Html.ValidationMessageFor(xs => Model.VENDORNAME)

            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Address
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.ADDRESS)
                @Html.ValidationMessageFor(xs => Model.ADDRESS)

            </div>
            <div class="cell labelfor">
                @PRISM.Resource.Address2
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.ADDRESS2)

            </div>

        </div><div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.ContactPerson
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.CONTACTPERSON)
                @Html.ValidationMessageFor(xs => Model.CONTACTPERSON)

            </div>
            <div class="cell labelfor">
                @PRISM.Resource.Phone
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.PHONENO)
                @Html.ValidationMessageFor(xs => Model.PHONENO)

            </div>

        </div><div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Phone1
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.PHONENO1)

            </div>
            <div class="cell labelfor">
                @PRISM.Resource.Email
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.EMAIL)

            </div>

        </div><div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Fax
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.FAXNO)

            </div>
            <div class="cell labelfor">
                @PRISM.Resource.Terretory
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.TERRETORY)
                @Html.ValidationMessageFor(xs => Model.TERRETORY)

            </div>

        </div><div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Country
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.COUNTRY)
                @Html.ValidationMessageFor(xs => Model.COUNTRY)

            </div>
            <div class="cell labelfor">
                @PRISM.Resource.CurrencyCode
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.CURRENCYCODE)
                @Html.ValidationMessageFor(xs => Model.CURRENCYCODE)

            </div>

        </div><div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Status
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.BLOCKED)

            </div>
            <div class="cell labelfor">
                @PRISM.Resource.VatRegNum
            </div>
            <div class="cell">
                @Html.TextBoxFor(m => m.VATREGNO)
                @Html.ValidationMessageFor(xs => Model.VATREGNO)
            </div>

        </div><div class="row cells4">
            <div class="cell labelfor">

            </div>
            <div class="cell">

            </div>
            <div class="cell labelfor">

            </div>
            <div class="cell">
                <input type="submit" value="Save" />
                <input value="Cancel" onclick="history.go(-1);" type="button"/>
            </div>

        </div>

    </div>
}

