﻿@{
    ViewBag.Title = "Index";
}

<h2 class="settings-placeholder">Settings</h2>
<div class="span2">
    <div class="sidebar light">
        @if (Request.IsAuthenticated)
        {
            <ul>
                <li>
                    <a href="#"> Vendor</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        @Ajax.ActionLink("Vendor Setup", "VendorSetup", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete="checkSessionTimeout(xhr);" })
                        @Ajax.ActionLink("List Vendor", "ViewVendor", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete="checkSessionTimeout(xhr);" })
                    </ul>
                </li>
                <li>
                    <a href="#">Consumption Period</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    @Ajax.ActionLink("Consumption Setup", "ConsumptionPeriod", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete="checkSessionTimeout(xhr);" })
                    @Ajax.ActionLink("List Consumption", "ViewConsumption", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" , OnComplete="checkSessionTimeout(xhr);"})
                </ul>
            </li>
                <li>
                <a href="#">Unit Of Measure</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li>
                        @Ajax.ActionLink("Uom Setup", "UnitOfMeasure", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete="checkSessionTimeout(xhr);" })
                        @Ajax.ActionLink("List UoM", "ViewUnitOfMeasure", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete="checkSessionTimeout(xhr);" })
                    </li>
                </ul>
                </li>

        </ul>
        }
        

    </div>
</div>
<div class="span10 place-left" style="background:#fff;">
    <div id="containerid">

    </div>
</div>
@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
}