﻿@model PRISM.TBL_MEASURINGUNITS_MASTER
@{
    ViewBag.Title = "iUnitOfMeasure";
}
<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<h2>@PRISM.Resource.UnitOfMeasure</h2>

<div class="grid condensed">
    @using (Html.BeginForm("AddUnitOfMeasure", "Settings", FormMethod.Post))
    { @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
      <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Unit</div>
        <div class="cell ">
            @Html.EditorFor(xs=>Model.UNITNAME)
            @Html.ValidationMessageFor(xs => Model.UNITNAME)
        </div>
        <div class="cell labelfor">@PRISM.Resource.UnitShort</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.UNITSHORT)
            @Html.ValidationMessageFor(xs => Model.UNITSHORT)
        </div>
    </div>
        <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Description</div>
        <div class="cell ">
            @Html.EditorFor(xs=>Model.DESCRIPTION)
            @Html.ValidationMessageFor(xs => Model.DESCRIPTION)
        </div>
        <div class="cell labelfor"></div>
        <div class="cell ">
           <input type="submit" value="@PRISM.Resource.Create" />
        </div>
    </div>
    }
    </div>
