﻿@model PRISM.TBL_VENDOR
@{
    ViewBag.Title = "Vendor Setup";
}
<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<h2>@PRISM.Resource.VendorSetupHeader</h2>
<div class="grid condensed">
    @using (Html.BeginForm("AddVendor","settings",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
         <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.VendorName</div>
        <div class="cell ">
            @Html.EditorFor(xs=>Model.VENDORNAME )
            @Html.ValidationMessageFor(xs=>Model.VENDORNAME)
        </div>
        <div class="cell labelfor">@PRISM.Resource.Address</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.ADDRESS)
            @Html.ValidationMessageFor(xs=>Model.ADDRESS)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Address2</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.ADDRESS2)
        </div>
        <div class="cell labelfor">@PRISM.Resource.ContactPerson</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.CONTACTPERSON)
            @Html.ValidationMessageFor(xs=>Model.CONTACTPERSON)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Phone</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.PHONENO)
            @Html.ValidationMessageFor(xs=>Model.PHONENO)
        </div>
        <div class="cell labelfor">@PRISM.Resource.Phone1</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.PHONENO1)
        </div>
       
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Email</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.EMAIL)
            @Html.ValidationMessageFor(xs=>Model.EMAIL)
        </div>
        <div class="cell labelfor">@PRISM.Resource.Fax</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.FAXNO)
        </div>
        
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.Terretory</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.TERRETORY)
            @Html.ValidationMessageFor(xs=>Model.TERRETORY)
        </div>
        <div class="cell labelfor">@PRISM.Resource.Country</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.COUNTRY)
            @Html.ValidationMessageFor(xs=>Model.COUNTRY)
        </div>
        
    </div>
    <div class="row cells4">
        <div class="cell labelfor">@PRISM.Resource.CurrencyCode</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.CURRENCYCODE)
            @Html.ValidationMessageFor(xs=>Model.CURRENCYCODE)
        </div>
        <div class="cell labelfor">@PRISM.Resource.VatRegNum</div>
        <div class="cell ">
            @Html.EditorFor(xs => Model.VATREGNO)
            @Html.ValidationMessageFor(xs=>Model.VATREGNO)
        </div>
        
    </div>
        
        <div class="cell labelfor"></div>
        <div class="cell ">
           <input type="submit" value="@PRISM.Resource.Create" />
        </div>
        
    }
   
</div>