﻿@model PRISM.Models.spVendor
@{
    ViewBag.Title = "iVendorDetail";
}

<h2>Vendor Detail</h2>
<h2>
    <strong>@Html.DisplayFor(model => model.VendorName)</strong>
</h2>
<!--Line Data-->
<div class="grid condensed">
    <div class="row cells4">
        <div class="cell labelfor">Address</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.Address)
        </div>
        <div class="cell labelfor">Address 2</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.Address2)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">Contact Person</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.ContactPerson)
        </div>
        <div class="cell labelfor">Phone No</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.PhoneNo);
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">Phone No2</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.PhoneNo1);
        </div>
        <div class="cell labelfor">Email</div>
        <div class="cell ">
            @Html.DisplayFor(e => e.Email)
        </div>
    </div>
    <div class="row cells4">

        <div class="cell labelfor">Fax NO</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.FaxNo)
        </div>
        <div class="cell labelfor">Terretory</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.Terretory)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">Country</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.Country)
        </div>

        <div class="cell labelfor">Currency Code</div>
        <div class="cell ">
            @Html.DisplayFor(e => e.CurrencyCod)
        </div>
    </div>
    <div class="row cells4">
        <div class="cell labelfor">VAT reg no</div>
        <div class="cell ">
            @Html.DisplayFor(model => model.VatRegistrationNo)
        </div>
        <div class="cell labelfor">Active</div>
        <div class="cell ">
            @Html.DisplayFor(e => e.isActice)
        </div>
    </div>
    

</div>