﻿@model IEnumerable<PRISM.Models.spConsumption>
@{
    ViewBag.Title = "iViewConsumption";
}

<h2>Consumption Period List</h2>

<table class="table">
    <tr>

        <th>@PRISM.Resource.ItemName</th>
        <th>@PRISM.Resource.Specification</th>
        <th>@PRISM.Resource.Description</th>
        <th>@PRISM.Resource.AllowedQuantity</th>
        <th>@PRISM.Resource.Period</th>
        <th>@PRISM.Resource.Duration</th>
        <th>Actions.</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.ITEMNAME)</td>
            <td>@Html.DisplayFor(model => item.Specification)</td>
            <td>@Html.DisplayFor(model => item.itemDesc)</td>
            <td>@Html.DisplayFor(model => item.allowedQty)</td>
            <td>@Html.DisplayFor(model => item.consumpPeriod)</td>
            <td>@Html.DisplayFor(model => item.ConsumpTime)</td>
            <td class="fg-white">@Ajax.ActionLink("Edit", "DetailConsuptionP", new { id = item.Dateid }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "AjxLoaderToggle()", OnComplete = "AjxLoaderToggle()" })</td>
        </tr>

    }
</table>
@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}