﻿@model IEnumerable<PRISM.Models.spMeasurinUnit>
@{
    ViewBag.Title = "View Unit of Measure";
}

<h2>@PRISM.Resource.UnitOfMeasure</h2>
<table class="table">
    <tr>

        <th>@PRISM.Resource.UnitName</th>
        <th>@PRISM.Resource.UnitShort</th>
        <th>@PRISM.Resource.Description</th>
        <th>@PRISM.Resource.EntryBy</th>
        <th>@PRISM.Resource.CreatedDate</th>
        
        <th>@PRISM.Resource.Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.unitNmae)</td>
            <td>@Html.DisplayFor(model => item.unitShort)</td>
            <td>@Html.DisplayFor(model => item.description)</td>
            <td>@Html.DisplayFor(model => item.entryid)</td>
            <td>@Html.DisplayFor(model => item.entrydate)</td>
          
            @*<td class="fg-white">@Html.ActionLink("Detail", "iDetail", new { id = item.ale })</td>*@
            <td class="fg-white">
                @*@Ajax.ActionLink("Detail", "DetailVendor", new { id = item.PK_VendorId }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "showDialog('dialog7')" })*@
            @Ajax.ActionLink("Edit", "EditUnitOfMeasure", new { s = item.pk_UoM }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "AjxLoaderToggle()", OnComplete = "AjxLoaderToggle()" })
            </td>
        </tr>

    }
</table>
@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}