﻿@model IEnumerable<PRISM.Models.spVendor>
@{
    ViewBag.Title = "iViewVendor";
}

<h2>@PRISM.Resource.VendorListHeader</h2>
<table class="table">
    <tr>

        <th>@PRISM.Resource.VendorName</th>
        <th>@PRISM.Resource.Address</th>
        <th>@PRISM.Resource.ContactPerson</th>
        <th>@PRISM.Resource.Phone</th>
        <th>@PRISM.Resource.Email</th>
        <th>@PRISM.Resource.Terretory</th>
        <th>@PRISM.Resource.Country</th>
        <th>@PRISM.Resource.VatRegNum</th>
        <th>@PRISM.Resource.Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.VendorName)</td>
            <td>@Html.DisplayFor(model => item.Address)</td>
            <td>@Html.DisplayFor(model => item.ContactPerson)</td>
            <td>@Html.DisplayFor(model => item.PhoneNo)</td>
            <td>@Html.DisplayFor(model => item.Email)</td>
            <td>@Html.DisplayFor(model => item.Terretory)</td>
            <td>@Html.DisplayFor(model => item.Country)</td>
            <td>@Html.DisplayFor(model => item.VatRegistrationNo)</td>
            @*<td class="fg-white">@Html.ActionLink("Detail", "iDetail", new { id = item.ale })</td>*@
            <td class="fg-white">
                @Ajax.ActionLink("Detail", "DetailVendor", new { id = item.PK_VendorId }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "AjxLoaderToggle()", OnComplete = "AjxLoaderToggle()" })
            @Ajax.ActionLink("Edit", "EditVendor", new { id = item.PK_VendorId }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "AjxLoaderToggle()", OnComplete = "AjxLoaderToggle()" })
        </td>
        </tr>

    }
</table>
<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 500px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerid">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        //$(document).ready(function () {
        //$('#dialog7').click(function () {
        //    showDialog(this);
        //});
        //});
        function showDialog(id) {
            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }
    </script>
}
