﻿@model IEnumerable<PRISM.Models.paybookModel>
@{
    ViewBag.Title = "personalpaybook";
}

<h2>personalpaybook</h2>
<table class="table">
    <tr>
        <th>item Name</th>
        <th>Acquired Date</th>
        <th>DESCRIPTION</th>
        <th>QUANTITY</th>
        <th>Item Code</th>
        <th>Comment</th>
        <th>Handed By</th>
        <th>Taken Address</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(ma => item.pbITEMNAME)</td>
            <td>@Html.DisplayFor(ma => item.pbPOSTINGDATE)</td>
            <td>@Html.DisplayFor(ma => item.pbDesc)</td>
            <td>@Html.DisplayFor(ma => item.pbQUANTITY)</td>
            <td>@Html.DisplayFor(ma => item.pbitemCatCode)</td>
            <td>@Html.DisplayFor(ma => item.pbCOMMENTS)</td>
            <td>@Html.DisplayFor(ma => item.pbhandedby)</td>
            <td>@Html.DisplayFor(ma => item.pbAddress)</td>
        </tr>

    }
</table>