﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Nepal Police Inventory Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/treeview/jquery-treeview.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/btstrap")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/nepali.datepicker.v2.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script>
        function searchPerson() {
            $.ajax({
                url: '@Url.Action("Search","Personnel")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'name': $('#Name').val(), 'rank': $('#Rank').val() }),

                success: function (data) {
                    $("#SearchPersonResultsTbl").empty();
                    $("#SearchPersonResultsTbl").append("<tr><th>Person Code</th><th>Name</th><th>Unit</th><th>Rank</th></tr>");
                    $.each(data, function (index, value) {
                        var row = $("<tr onclick=\"InputSelectedPerson('" + value.PERSON_CODE + "','" + value.NAME + "'\); return false;\"><td>" + value.PERSON_CODE + "</td><td>" + value.NAME + "</td><td>" + value.UNIT_NAME + "</td><td>" + value.RANK_NAME + "</td></tr>");
                        $("#SearchPersonResultsTbl").append(row);
                    });
                    return false;
                },
                error: function (result) {
                    //alert("Failed");
                }
            });
            return false;
        }

        function InputSelectedPerson(personCode, Name) {
            $("#distoperson #txtAutoCompletePerson").val(personCode);
            $("#ENTRYFOR").val(personCode);
            $("#hddSelectedUnit").val(personCode);
            $("#txtAutoComplete").val(Name);
            $("#txtAutoComplete").change();
        }
    </script>
</head>
<body class="metro">
    @*<header> <div class="content-wrapper"> <div class="float-left"> <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p> </div> <div class="float-right"> <section id="login"> @Html.Partial("_LoginPartial") </section> <nav> <ul id="menu"> <li>@Html.ActionLink("Home", "Index", "Home")</li> <li>@Html.ActionLink("About", "About", "Home")</li> <li>@Html.ActionLink("Contact", "Contact", "Home")</li> </ul> </nav> </div> </div> </header>*@
    <div>
        @{
            foreach (var l in PRISM.SiteLanguages.AvailableLanguages)
            {
                @Html.ActionLink(l.LangFullName, "ChangeLanguage", "Home", new { lang = l.LangCulturename }, null)
            }
        }
    </div>
    <div>
        <nav class="navigation-bar">
            <div class="navigation-bar-content">
                <img alt="Nepal Police Logo" src="/Images/nepalPol_logo_small.png" style="width: 45px; height: 45px;">
                @Html.ActionLink("Nepal Police Inventory Manager", "Index", "Home", new { @class = "element" })
                <span class="element-divider place-right"></span>
                <div class="place-right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>
    <div id="body" class="grid fluid">
        @*@RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>*@
        <div class="grid">
            <div class="row" style="margin-top: 0px;">
                <div class="row" style="margin-top: 0px;">
                    @RenderSection("featured", required: false)
                </div>
                <div class="span2" style="margin-left: 0px;">
                    <nav class="sidebar light">
                        @if (Request.IsAuthenticated)
                        {
                            <ul>
                                @if (PRISM.RoleRightHelper.HasUserRight("ViewDashboard"))
                                {
                                    <li class="stick">@Html.ActionLink("Home", "Index", "Home")</li>
                                }
                                @if (PRISM.RoleRightHelper.HasUserRight("AddAssetMaster") || PRISM.RoleRightHelper.HasUserRight("AddAssetItem"))
                                {
                                    <li>
                                        @Html.ActionLink("Inventory", "Index", "Assets", new { @class = "dropdown-toggle" })
                                        <ul class="dropdown-menu" data-role="dropdown">
                                            @if (PRISM.RoleRightHelper.HasUserRight("AddAssetMaster") || PRISM.RoleRightHelper.HasUserRight("AddAssetItem"))
                                            {
                                                <li>@Html.ActionLink("Stock", "Index", "Assets")</li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if (PRISM.RoleRightHelper.HasUserRight("HandoverAssetToUnit") || PRISM.RoleRightHelper.HasUserRight("HandoverAssetToPerson"))
                                {
                                    <li>
                                        @Html.ActionLink("HandOver", "Index", "HandOver", new { @class = "dropdown-toggle" })
                                        <ul class="dropdown-menu" data-role="dropdown">
                                            @if (PRISM.RoleRightHelper.HasUserRight("HandoverAssetToUnit"))
                                            {
                                                <li>@Html.ActionLink("To Unit", "ToUnit", "HandOver")</li>
                                            }
                                            @if (PRISM.RoleRightHelper.HasUserRight("HandoverAssetToPerson"))
                                            {
                                                <li>@Html.ActionLink("To Person", "ToPerson", "HandOver")</li>
                                            }

                                            @if (PRISM.RoleRightHelper.HasUserRight("HandoverAssetToPerson"))
                                            {
                                                <li>@Html.ActionLink("Upload Excel", "ToCsv", "HandOver")</li>
                                            }
                                            @if (PRISM.RoleRightHelper.HasUserRight("HandoverAssetToPerson"))
                                            {
                                                <li>@Html.ActionLink("View Excel Records", "GetCsvRecords", "HandOver")</li>
                                            }

                                            @*@if (PRISM.RoleRightHelper.HasUserRight("HandoverAssetToUnit") && PRISM.RoleRightHelper.HasUserRight("HandoverAssetToPerson"))
                                                {
                                                    <li>@Html.ActionLink("Multiple Entry", "MultipleHandOver", "HandOver")</li>
                                                }*@
                                        </ul>
                                    </li>
                                }
                                <li>@Html.ActionLink("Paybook", "Index", "Paybook")</li>
                                @if (PRISM.RoleRightHelper.HasUserRight("AddWeapon") || PRISM.RoleRightHelper.HasUserRight("HandoverWeaponToUnit") || PRISM.RoleRightHelper.HasUserRight("HandoverWeaponToPerson) || PRISM.RoleRightHelper.HasUserRight(PRISM.RightNames.AddWeaponMaster) || PRISM.RoleRightHelper.HasUserRight(PRISM.RightNames.ReturnWeaponToUnit) || PRISM.RoleRightHelper.HasUserRight(PRISM.RightNames.ReturnWeaponToPerson"))
                                {
                                    <li>
                                        @Html.ActionLink("Weapons", "Index", "Weapons", new { @class = "dropdown-toggle" })
                                        <ul class="dropdown-menu" data-role="dropdown">
                                            @if (PRISM.RoleRightHelper.HasUserRight("AddWeapon") || PRISM.RoleRightHelper.HasUserRight("AddWeaponMaster"))
                                            {
                                                <li>@Html.ActionLink("Weapons Entry", "Index", "Weapons")</li>
                                            }
                                            @if (PRISM.RoleRightHelper.HasUserRight("HandoverWeaponToUnit") || PRISM.RoleRightHelper.HasUserRight("HandoverWeaponToPerson"))
                                            {
                                                <li>
                                                    @Html.ActionLink("Weapons Distribution", "Index", "Weapons", new { @class = "dropdown-toggle" })
                                                    <ul class="dropdown-menu" data-role="dropdown" style="left: 0%">
                                                        @if (PRISM.RoleRightHelper.HasUserRight("HandoverWeaponToUnit"))
                                                        {
                                                            <li>@Html.ActionLink("To Unit", "WeaponToUnit", "Weapons", new { @type = "return" }, null)</li>
                                                        }
                                                        @if (PRISM.RoleRightHelper.HasUserRight("HandoverWeaponToPerson"))
                                                        {
                                                            <li>@Html.ActionLink("To Person", "WeaponToPerson", "Weapons")</li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            @if (PRISM.RoleRightHelper.HasUserRight("ReturnWeaponToUnit") || PRISM.RoleRightHelper.HasUserRight("ReturnWeaponToPerson"))
                                            {
                                                <li>
                                                    @Html.ActionLink("Weapons Return", "Index", "Weapons", new { @class = "dropdown-toggle" })
                                                    <ul class="dropdown-menu" data-role="dropdown" style="left: 0%">
                                                        @if (PRISM.RoleRightHelper.HasUserRight("ReturnWeaponToUnit"))
                                                        {
                                                            <li>@Html.ActionLink("By Unit", "ByUnit", "Weapons")</li>
                                                        }
                                                        @if (PRISM.RoleRightHelper.HasUserRight("ReturnWeaponToPerson"))
                                                        {
                                                            <li>@Html.ActionLink("By Person", "ByPerson", "Weapons")</li>
                                                            <li>@Html.ActionLink("By Goli Return", "FxReturnGoliByPerson", "Weapons")</li>
                                                        }
                                                        @if (PRISM.RoleRightHelper.HasUserRight("ReturnGoli"))
                                                        {
                                                            <li>@Html.ActionLink("Goli Return", "FxReturnGoliByPerson", "Weapons")</li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if (PRISM.RoleRightHelper.HasUserRight("ViewReports"))
                                {
                                    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                                }
                                @if (PRISM.RoleRightHelper.HasUserRight("Settings"))
                                {
                                    <li>
                                        @Html.ActionLink("Settings", "Index", "Settings", new { @class = "dropdown-toggle" })
                                        <ul class="dropdown-menu" data-role="dropdown" style="left: 0%">
                                            <li>@Html.ActionLink("General", "Index", "Settings")</li>
                                            <li>@Html.ActionLink("User", "Index", "Users")</li>
                                        </ul>
                                    </li>
                                }
                                <li>@Html.ActionLink("Change Password", "Index", "ChangePassword")</li>
                            </ul>
                        }
                    </nav>
                </div>
                <div class="span10">@RenderBody()</div>
            </div>
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year -Nepal Police</p>
            </div>
        </div>
    </footer>
    <div id='ajaxloader' class='ajxloaderhidden'>
        <div id='imageholder'>
            <img src="../Images/spinner-md.gif">
        </div>
        <img>
    </div>
    <script src="/Scripts/jquery-2.1.4.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/jquery.dataTables.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/nepali.datepicker.v2.min.js"></script>
    @*@Scripts.Render("~/bundles/metro")
        @Scripts.Render("~/bundles/widget")*@
    <script>

        $(document).ready(function () {
            $('#userss').DataTable({
                paging: true
            });
            $('.nepali-calendar').nepaliDatePicker();
            $('.spandate').each(function () {
                convertEngToNepDateSpan(this, this);
            });
            appendAsterikForRequiredFields();
        });

        function appendAsterikForRequiredFields() {
            var asterik = '<span class="field-validation-error">*</span>';
            var reqs = document.querySelectorAll("[data-val-required]");
            for (var i = 0; i < reqs.length; i++) {
                var nepaliDate = reqs[i].parentElement.getElementsByClassName('nepali-calendar');
                if (nepaliDate.length > 0)
                    $(nepaliDate[0]).after(asterik);
                else
                    $(reqs[i]).after(asterik);
            }
        }

        function convertDateInPartialSpan() {
            $('.spandatepartial').each(function () {
                convertEngToNepDateSpan(this, this);
            });
        }

        function showDialog(xhr, id) {

            if (xhr.responseJSON == "_Logon_") {
                window.location.href = "Account/LogOfff";
                return;
            }

            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }

        function checkSessionTimeout(xhr) {
            if (xhr.responseJSON == "_Logon_") {
                window.location.href = "Account/LogOfff";
                return;
            }
        }


        function AjxLoaderToggle() {
            $('#ajaxloader').toggleClass("ajxloaderhidden ajxloadervisible")
        };

        function loadCalendarForAsset() {
            loadCalendarAndConvertDate('POSTINGDATE-np', 'POSTINGDATE');
            loadCalendarAndConvertDate('ENTRYDATE-np', 'ENTRYDATE');
            loadCalendarAndConvertDate('PURCHASEDDATE-np', 'PURCHASEDDATE');
            appendAsterikForRequiredFields();
        }

        function loadCalendarForWeapon() {
            loadCalendarAndConvertDate('PURCHASEDDATE-np', 'PURCHASEDDATE');
            loadCalendarAndConvertDate('ENTRYDATE-np', 'ENTRYDATE');
            appendAsterikForRequiredFields();
        }

        function convertEngToNepDateInput(engDateBoxId, nepDateBoxId) {
            var engDate = $('#' + engDateBoxId).val();
            if (engDate.length > 0) {
                try {
                    var engDateTyped = new Date(engDate);
                    var nepDate = AD2BS(engDateTyped.getFullYear() + '-' + (engDateTyped.getMonth() + 1) + '-' + engDateTyped.getDate());
                } catch (e) {
                    nepDate = 'NaN-NaN-NaN';
                }
                if (nepDate == 'NaN-NaN-NaN') {
                    $('#' + nepDateBoxId).val('');
                    $('#' + engDateBoxId).val('');
                } else {
                    $('#' + nepDateBoxId).val(nepDate);
                }
            }
        }

        function convertEngToNepDateSpan(engDateSpan, nepaliDateSpan) {
            var engDate = $(engDateSpan).html();
            if (engDate.length > 0) {
                try {
                    var engDateTyped = new Date(engDate);
                    var nepDate = AD2BS(engDateTyped.getFullYear() + '-' + (engDateTyped.getMonth() + 1) + '-' + engDateTyped.getDate());
                } catch (e) {
                    nepDate = 'NaN-NaN-NaN';
                }
                if (nepDate == 'NaN-NaN-NaN') {
                    $(nepaliDateSpan).html('');
                    $(engDateSpan).html('');
                } else {
                    $(nepaliDateSpan).html(nepDate);
                }
            }
        }

        function loadCalendarAndConvertDate(nepDateBoxId, engDateBoxId) {
            try {

                convertEngToNepDateInput(engDateBoxId, nepDateBoxId);

                $('#' + nepDateBoxId).attr('placeholder', 'yyyy-mm-dd [BS]');
                $('#' + nepDateBoxId).attr('maxlength', '10');
                $('#' + engDateBoxId).attr('style', 'visibility:hidden');

                $('#' + nepDateBoxId).nepaliDatePicker({
                    onChange: function () {
                        validateAndConvertDate(nepDateBoxId, engDateBoxId);
                    }
                });
                //for date change without calendar
                $('#' + nepDateBoxId).change(function () {
                    validateAndConvertDate(nepDateBoxId, engDateBoxId);
                });
            } catch (e) {

            }
        }

        function validateAndConvertDate(nepDateBoxId, engDateBoxId) {
            if ($('#' + nepDateBoxId).val().length > 0) {
                try {
                    var engDate = BS2AD($('#' + nepDateBoxId).val());
                } catch (e) {
                    engDate = 'NaN-NaN-NaN';
                }
                if (engDate == 'NaN-NaN-NaN') {
                    alert('Invalid Date');
                    $('#' + nepDateBoxId).val('');
                    $('#' + engDateBoxId).val('');
                } else {
                    $('#' + engDateBoxId).val(engDate);
                }
            } else {
                $('#' + nepDateBoxId).val('');
                $('#' + engDateBoxId).val('');
            }
        }


    </script>
    <script src="~/Scripts/jquery-treeview-1.4.0.min.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("userscript", required: false)
    @RenderSection("sparia", required: false)
</body>
</html>
