﻿@if (Request.IsAuthenticated) {
 
    @*<div class="element place-right">
                            <a href="#" class="dropdown-toggle">
                                <span class="icon-cog"></span>
                            </a>
                            <ul data-role="dropdown" class="dropdown-menu place-right">
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Download</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Buy Now</a></li>
                            </ul>
                        </div>*@
    <text>
        @*@Html.ActionLink("Hello " + User.Identity.Name + "!", "personalpaybook", "Account", routeValues: null, htmlAttributes: new { @class = "username element", title = "Manage" })*@
@Html.ActionLink("Hello " + HttpContext.Current.Session["person"] + "!", "personalpaybook", "Account", routeValues: null, htmlAttributes: new { @class = "username element", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class="element", id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a style=" padding-top: 0px; padding-right: 0px; padding-left: 0px; color:#FFF;" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{
    <ul class="element-menu ">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
