﻿@model IEnumerable<PRISM.Models.OrgHierarchy>
<ul>
@foreach (var treeNode in Model)
{     
        if (treeNode != null)
        { 
            <li><a href="#">
                @treeNode.UnitName
            </a>
                @if (treeNode.ChildNodes!=null && treeNode.ChildNodes.Count > 0)
                {
                    <ul>
                    @Html.Partial("ChildNode", treeNode.ChildNodes)

                    </ul>
                }
            </li> 
        }
   
}
    </ul>