﻿@{ ViewBag.Title = "Police Units"; }
<div style="overflow: scroll; max-height: 540rem;height: 324px;">
    @*<input type="button" id="btnOk" onclick="OK();" value="OK" />*@
    <ul id="fileSystemInfos" class="filetree" style="
    height: 261px;
"></ul><br />
</div>
<div id="fileSystemInfosControl">
    @*<a href="?#">Collapse All</a> | <a href="?#">Expand All</a>*@
    <input type="button" id="btnOk" onclick="OK();" value="OK" />
</div>
<div>
    <input type="hidden" id="hddSelectedUnit" />

</div>

<style>
    .selectedNode {
        background: #ffd800;
    }
</style>
<script src="@Url.Content("~/Scripts/jquery-treeview-async-0.1.0.js")" type="text/javascript"></script>
<script type="text/javascript">

        function OK() {
            //unitDomObject = $(hddUnitId).val();
            //$(unitDomObject).val($('#hddSelectedUnit').val());
            $("#txtAutoComplete").change();
            $('#dialog7').hide();

        }


        $(document).ready(function () {

            $('#fileSystemInfos').treeview({
                url: '@Url.Action("FileSystemInfos")',
                ajax: {
                    type: 'post'
                },
                control: '#fileSystemInfosControl'
            })
        });



        $("#fileSystemInfos").click(function onTreeViewClick(sender) {
            var clickedElement = $(sender.target);
            if (clickedElement.hasClass('hover')) {
                //Find all selected nodes and deselect them.
                var treeView = $(document.getElementById('fileSystemInfos'));
                $.each(treeView.find(".selectedNode"), function (index, node) {
                    $(node).removeClass('selectedNode');
                });
                //Select newly selected node
                clickedElement.addClass('selectedNode');
                //Get the node Id for the parent LI
                var parents = clickedElement.parent('li');
                //This can then be used to identify the node.
                selectedTreeNodeId = parents[0].id;

                //Set the UnitCode to hidden field that is used to selected the value in hidden dropdownlist.
                $('#hddSelectedUnit').val(selectedTreeNodeId);

                //Set the selected treenode text in autocomplete textbox
                $('#txtAutoComplete').val(clickedElement.text());
            }
            });

</script>
