﻿@model PRISM.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Item</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.guid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.guid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bookpgid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bookpgid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ITEMNAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ITEMNAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SPECIFICATION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPECIFICATION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.classification)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.classification)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QUANTITY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QUANTITY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.costPerUnit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.costPerUnit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.taxPU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.taxPU)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.extraExpenses)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.extraExpenses)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COMMENTS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMMENTS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.purchaseOrderNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.purchaseOrderNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ENTRYDATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTRYDATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.entryid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entryid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.entryname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entryname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
