﻿@model IEnumerable<PRISM.Item>

@{
    ViewBag.Title = "Classification";
}

<h2>Unclassified TBL_ASSET list</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th class="roundcorner-left">
            @*@Html.DisplayNameFor(model => model.bookpgid)*@
            Page Id
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ITEMNAME)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SPECIFICATION)*@
            Spec.
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.unit)*@
            Unit
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.QUANTITY)*@
            Qty.
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.costPerUnit)*@
            Cost/Unit
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.taxPU)*@
            Tax/Unit
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.purchaseOrderNo)*@
            P.O. No
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ENTRYDATE)*@
            Entry Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Total)*@
            Total
        </th>
        <th class="roundcorner-right"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookpgid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEMNAME)
            </td>
            <td id="overflow-clear">
                @Html.DisplayFor(modelItem => item.SPECIFICATION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUANTITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taxPU)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseOrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENTRYDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.id })
                @* @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
            </td>
        </tr>
    }

</table>