﻿@*@model IEnumerable<PRISM.EntryForm>

@{
    ViewBag.Title = "iEntryFormReport";
}

<h2>दाखिला प्रतिबेदन</h2>
<p>@Html.ActionLink("Export to Excel", "ShowOnExcel", new { Type= "Dakhila",ftype=ViewBag.ftype,atype=ViewBag.atype })
    </p>
<table class="table">
    <thead>
        <tr>
            <th>Book Page Id</th>
            <th>Item Category Code</th>
            <th>Item Name</th>
            <th>SPECIFICATION</th>
            <th>Unit Of Measure</th>
            <th>QUANTITY</th>
            <th>VAT</th>
            <th>Unit Price</th>
            <th>Extra Expenses</th>
            <th>Total Expenses</th>
            <th>Entry Date</th>
            <th>COMMENTS</th>
        </tr>
    </thead><tbody>
    @foreach (var item in Model)
    {
        <tr>
        <td>@Html.DisplayFor(mm=>item.BOOKPAGEID)</td>
        <td>@Html.DisplayFor(mm=>item.ITEMCATEGORYCODE)</td>
        <td>@Html.DisplayFor(mm=>item.ITEMNAME)</td>
        <td>@Html.DisplayFor(mm=>item.SPECIFICATION)</td>
        <td>@Html.DisplayFor(mm=>item.UNITSHORT)</td>
        <td>@Html.DisplayFor(mm=>item.QUANTITY)</td>
        <td>@Html.DisplayFor(mm=>item.VAT)</td>
        <td>@Html.DisplayFor(mm=>item.UNITPRICE)</td>
        <td>@Html.DisplayFor(mm=>item.ExtraExpenses)</td>
        <td>@Html.DisplayFor(mm=>item.TOTALEXPENSES)</td>
        <td>@Html.DisplayFor(mm=>item.ENTRYDATE)</td>
        <td>@Html.DisplayFor(mm=>item.COMMENTS)</td>
    </tr>
    }
    </tbody>
</table>*@