﻿@model IEnumerable<PRISM.Models.LoginModel2>
@{
    ViewBag.Title = "iDisplaySearchUsers";
}

<h2>Current Users</h2>
<table class="table striped bordered hovered" id="userss">
    <tr>
        <th>User name</th>
        <th>Rank</th>
        <th>Full Name</th>
        <th>Unit Code</th>
        <th>Unit name</th>
        <th>Status</th>
        <th>Role</th>
        <th>Action</th>


    </tr>

    @if (Model != null)
    {

        foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(m => item.UserId)</td>

                <td>
                    @Html.DisplayFor(m => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(m => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.UnitId)
                </td>
                <td>
                    @Html.DisplayFor(m => item.UnitName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(m => item.UserRole)
                </td>

                @*@Ajax.ActionLink("Details", "ShowUserDetail", new { user= })*@
                @*<td class="fg-white">@Ajax.ActionLink(@PRISM.Resource.Detail, "ShowUserDetail", new { user = item.UserId }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "showDialog(xhr,'dialog7')" })</td>*@
                <td>@Html.ActionLink("Detail", "ShowUserDetail", new { user = item.UserId })</td>
            </tr>

        }
    }
    else
    {
        @Html.Label("No Data To Display");
    }


    </tr>
</table>



@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $('#userss').DataTable({
            paging: true
        });
        function showDialog(id) {
            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }
    </script>
    }