﻿@model IEnumerable<PRISM.Models.LoginModel2>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Ajax.BeginForm("DisplaySearchUsers", "Users", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ShowResult", OnBegin = "AjxLoaderToggle()", OnComplete = "AjxLoaderToggle()" }))
{
<div class="grid condensed">
    <div class="row cells4">
        <div class="cell labelfor"></div>
        <div class="cell"></div>
        <div class="cell labelfor">@Html.TextBox("userIdentity", null)</div>
        <div class="cell"><input type="submit" value="Search" /></div>
    </div>
</div>
}


@*<img id="loader" src="~/Images/spinner-md.gif" style="visibility:hidden;" />*@
<div id="ShowResult">
    @{Html.RenderPartial("iDisplaySearchUsers",Model);}
</div>
<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 540px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerid">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
@section userscript{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}


