﻿@model PRISM.Models.LoginModel2
@{
    ViewBag.Title = "iShowUserDetail";
}

<h2>User Details</h2>
@using (Html.BeginForm("SaveUserResult","users",FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);
    <h3>@Html.DisplayFor(m => m.FullName)</h3>
    
    <div class="grid condensed">
    <div class="row cells4">
        <div class="cell labelfor">
           @PRISM.Resource.Personnel :
        </div>
        <div class="cell">
            @Html.DisplayFor(m => m.Rank),@Html.DisplayFor(m => m.FullName)
            @Html.HiddenFor(m => m.Usr)
            @Html.HiddenFor(m => m.UserId)
           
        </div>
        <div class="cell labelfor">
            @PRISM.Resource.UnitLabel :
            
            </div>
            <div class="cell">
                @Html.DisplayFor(m => m.UnitName) ,( @Html.DisplayFor(m => m.UnitId))
            </div>
        </div>
    
    <div class="row cells4">
        <div class="cell labelfor">
            Address :
        </div>
        <div class="cell">
            @Html.DisplayFor(m => m.Address)
            @*<input type="checkbox" id="statusCheckbox" value="@"/>*@
        </div>
        <div class="cell labelfor">
           Role:
        </div>
            <div class="cell">
              @Html.DropDownListFor(m => m.UserRoleId, (IEnumerable<SelectListItem>)ViewBag.AccessRoles)
            </div>
        </div>
    <div class="row cells4">
        <div class="cell labelfor">
           Account Activated on:
        </div>
        <div class="cell">
            <span class="datespan">@Html.DisplayFor(m => m.ActiveSince)</span>
        </div>
        <div class="cell labelfor">
            Currently Assigned Role :
        </div>
        <div class="cell">
           @Html.DisplayFor(m => m.UserRole)
        </div>
    </div>
        <div class="row cells4">
            <div class="cell labelfor">
            Last Activity on :
            </div>
            <div class="cell">
                <span class="datespan">@Html.DisplayFor(m => m.LastActivityOn)</span>
               
                @*<input type="checkbox" id="statusCheckbox" value="@"/>*@
            </div>
            <div class="cell labelfor">
               New Status
            </div>
            <div class="cell">
                @Html.CheckBoxFor(m => m.statusbool) (Active/Inactive)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">
               
            </div>
            <div class="cell">
              
            </div>
            <div class="cell labelfor">
              
            </div>
            <div class="cell">
                <input type="submit" value="Save" />
                <input type="button" onclick="history.go(-1);" value="Cancel" />
            </div>
        </div>
    </div>



}

<div style=" border: 1px solid #ccc; padding: 10px; ">
    <h4>Manage Password for this User</h4>
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">
                Enter Password:
            </div>
            <div class="cell">
                <input type="password" id="EnterPassword" />

            </div>
            <div class="cell labelfor">
                Re-Enter Password
            </div>
            <div class="cell">
                <input type="password" id="reEnterPassword" />
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                <pre id="stsmsg"></pre>
            </div>
            <div class="cell">

            </div>
            <div class="cell labelfor">

            </div>
            <div class="cell">
                <input type="button" id="rstPasswd" value="Save" />
                <input type="button" onclick="history.go(-1);" value="Cancel" />
            </div>
        </div>




    </div>
</div>
@section userscript{
    <script>
        $('#reEnterPassword').on('input', function () {
            if ($('#EnterPassword').val() != $('#reEnterPassword').val()) {
                $('#stsmsg').html("<div class='padding5 ribbed-lightRed'>Password Does not match</div>");
            }
            else {
                $('#stsmsg').html("");
            }
        });

        $('#rstPasswd').click(function () {
            var ufor = $('#UserId').val()
            var pa = $('#EnterPassword').val()
            var pb = $('#reEnterPassword').val()
            if (ufor != null || ufor != "") {
                if (pa == pb) {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        url: '/Users/ResetPassword',
                        data: { 'pfor': ufor, 'pwa': pa, 'pwb': pb },
                        beforeSend: function () {
                            AjxLoaderToggle();
                        },
                        complete: function () {
                            AjxLoaderToggle();
                        },
                        success: function (data) {

                            if (data.Success == true) {
                                $('#stsmsg').html("<div class='padding5 ribbed-emerald'>Password Sussfully saved</div>");
                                $('#EnterPassword').val("");
                                $('#reEnterPassword').val("");
                            }
                            if (data.Success == false) {
                                $('#stsmsg').html("<div class='padding5 ribbed-lightRed'>Something Went Wrong</div>");
                                $('#EnterPassword').val("");
                                $('#reEnterPassword').val("");
                            }
                        }
                    });
                } else {
                    //$('input[type=submit]').prop('disabled', true);
                    $('#stsmsg').html("<div class='padding5 ribbed-lightRed'>Password Does not match</div>");
                }

            }

        });
    </script>
}
