﻿@model PRISM.TBL_WEAPON_DISTRIBUTION
@{
    ViewBag.Title = "ReturnWeaponByPerson";
}
<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<h2>Weapon Return By Person</h2>
@using (Html.BeginForm())
{@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Personnel</div>
            <div class="cell ">
                @*@Html.DropDownList("PersonList", String.Empty)*@
                @Html.DropDownListFor(model => model.DISTRIBUTIONTO, (SelectList)ViewBag.PersonList, @PRISM.Resource.SelectPerson)
@Html.ValidationMessageFor(Model => Model.DISTRIBUTIONTO)
@Html.Hidden("hddDistributionType", "Person")
                
            </div>
            <div class="cell labelfor">@PRISM.Resource.Status</div>
            <div class="cell ">
                @*@Html.DropDownList("Status", String.Empty)*@
                @Html.DropDownListFor(model=>model.STATUS,(SelectList)ViewBag.status,@PRISM.Resource.SelectStatus)
                @Html.ValidationMessageFor(Model => Model.STATUS)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.WeaponName</div>
            <div class="cell ">
               @* <select id="WeaponName"></select>
                @Html.Editor("getWeaponName", String.Empty)*@
               
               
                @Html.DropDownListFor(model => model.FK_WEAPON_DETAIL, (SelectList)ViewBag.FxWeapon, @PRISM.Resource.WeaponName)
                 @Html.ValidationMessageFor(model => model.FK_WEAPON_DETAIL)
               
            </div>

            <div class="row cells4">
                <div class="cell labelfor">@PRISM.Resource.SerialNum</div>
                <div class="cell ">
                    @*<select id="getwlSerial">Serial</select>
                    @Html.Editor("serialNo", String.Empty)*@
                     @Html.DropDownListFor(model => model.SerialNo, (SelectList)ViewBag.FxWeaponS, @PRISM.Resource.SelectSerialNum)
                    @Html.ValidationMessageFor(model => model.SerialNo)
                </div>
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.ReturnedDate</div>
            <div class="cell ">
                <div class="input-control text">
                   @Html.Editor("date", string.Empty)
                    @Html.TextBox("DISTRIBUTEDDATE-np",null, new {@class="nepali-calendar"})
                    @Html.ValidationMessageFor(model => model.DISTRIBUTEDDATE)
                    @Html.TextBoxFor(model => model.DISTRIBUTEDDATE)
                </div>
            </div>

            <div class="cell labelfor">@PRISM.Resource.Comments</div>
            <div class="cell ">                
                @Html.TextAreaFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>
        </div>
        <div class="row cells4">

            <div class="cell ">
                <input type="submit" value="@PRISM.Resource.Save" />
            </div>

        </div>

    </div>
}


@section userscript{
    <script type="text/javascript">
        $(document).ready(function () {
            loadCalendarAndConvertDate('DISTRIBUTEDDATE-np', 'DISTRIBUTEDDATE');
            $('#serialNo').css("display", "none");
            //$('#getWeaponName').css("display", "none");
            $('#date').css("display", "none");
            //$('#SerialNo').css("display", "none");
        });
        //$("#UnitList").change(function () {
        $("#DISTRIBUTIONBY").change(function () {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Weapons/WeapponDistributedToPerson',
                data: { 'personCode': $("#DISTRIBUTIONBY").val(), 'entryType': 3, 'entryType2': 5 },
                success: function (result) {
                    if (result.length > 0) {
                        $('#SerialNo').empty();
                        $('#FK_WEAPON_DETAIL').empty();
                        $.each(result, function (index, value) {

                            //$('#getwlSerial').append($("<option value='" + value.PK_Weapons_ID + "'>" + value.Serial_No + "</option>"));
                            $('#SerialNo').append($("<option value='" + value.PK_WEAPONS_ID + "'>" + value.SERIAL_NO + "</option>"));
                            //$('#WeaponName').append($("<option value='" + value.PK_Weapons_ID + "'>" + value.Weapon_Name + "</option>"));
                            $('#FK_WEAPON_DETAIL').append($("<option value='" + value.PK_WEAPONS_ID + "'>" + value.WEAPON_NAME + "</option>"));
                            //  alert($('#wlserial').html);
                        })
                        //var selectedText = $('#getwlSerial :selected').val();
                        //$('#getWeaponName').val(selectedText);
                        var selectedText = $('#SerialNo :selected').val();
                        //$('#FK_Weapon_detail').val(selectedText);
                        $('#FK_WEAPON_DETAIL :selected').val(selectedText);
                    }
                }
            });
        });
        $('#SerialNo').change(function () {
            $('#FK_WEAPON_DETAIL').val($('#SerialNo :selected').val());
            //$('#FK_Weapon_detail').val($('#SerialNo :selected').val());
        });

        $('#FK_WEAPON_DETAIL').change(function () {
            $('#SerialNo').val($('#FK_WEAPON_DETAIL :selected').val());
            //$('#SerialNo').val($('#FK_Weapon_detail :selected').val());
        });

        /***temp */
        $('#date').change(function () {
            $('#DISTRIBUTEDDATE').val($('#date').val());
        })
    </script>
}
