﻿@model PRISM.TBL_WEAPON_DISTRIBUTION
@{
    ViewBag.Title = "ReturnWeaponByUnit";
}
<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<h2>Weapon Return By Unit</h2>
@using (Html.BeginForm())
{@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.UnitLabel</div>
            <div class="cell ">
                @Html.Hidden("hddSelectedUnit")
                @Html.TextBoxFor(model => model.DISTRIBUTIONTO, null, new { id = "txtAutoComplete" })
                <a data-ajax="true" data-ajax-complete="showDialog(&#39;dialog7&#39;)" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#containerid" href="/Treeview/TreeView?Length=8" style="float:left;"><img alt="" src="../../Images/org-hierr-icon_16_16.png" title="" /></a>
                @Html.ValidationMessageFor(model => model.DISTRIBUTIONTO)
                @Html.Hidden("hddDistributionType", "Unit")
                
            </div>
            <div class="cell labelfor">@PRISM.Resource.Status</div>
            <div class="cell ">
                @*@Html.DropDownList("Status", String.Empty)*@
                @Html.DropDownListFor(model=>model.STATUS,(SelectList)ViewBag.status,"---Select Status---")
                @Html.ValidationMessageFor(model => model.STATUS)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.WeaponName</div>
            <div class="cell ">
                @*<select id="WeaponName"></select>*@
                @*@Html.Editor("getWeaponName", String.Empty)*@
                @Html.DropDownListFor(model => model.FK_WEAPON_DETAIL,Enumerable.Empty<SelectListItem>(),"---Select Weapon---")
                @Html.ValidationMessageFor(model => model.FK_WEAPON_DETAIL)
            </div>

            <div class="row cells4">
                <div class="cell labelfor">@PRISM.Resource.SerialNum</div>
                <div class="cell ">
                   @*@Html.Editor("serialNo", String.Empty)*@
                    @Html.DropDownListFor(model => model.SerialNo,Enumerable.Empty<SelectListItem>(),"---Select Serial No---")
                    @Html.ValidationMessageFor(model => model.SerialNo)
                </div>
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.ReturnedDate</div>
            <div class="cell ">
                <div class="input-control text">                    
                    @Html.Editor("date", string.Empty)
                    @Html.TextBox("DISTRIBUTEDDATE-np",null, new {@class="nepali-calendar"})
                    @Html.ValidationMessageFor(model => model.DISTRIBUTEDDATE)
                    @Html.TextBoxFor(model => model.DISTRIBUTEDDATE)
                </div>
            </div>

            <div class="cell labelfor">@PRISM.Resource.Comments</div>
            <div class="cell ">                
                @Html.EditorFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>
        </div>
        <div class="row cells4">

            <div class="cell ">
                <input type="submit" value="@PRISM.Resource.Save" />
            </div>

        </div>

    </div>
    
    <div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none;  " data-windows-style="true">
    <div class="container" id="containerid">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
}


@section userscript{
     <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            loadCalendarAndConvertDate('DISTRIBUTEDDATE-np', 'DISTRIBUTEDDATE');
            $('#serialNo').css("display", "none");
            //$('#getWeaponName').css("display", "none");
            $('#date').css("display", "none");
            //$('#SerialNo').css("display", "none");
        });
        //$("#UnitList").change(function () {
        $("#txtAutoComplete").change(function () {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Weapons/WeaponsDistributedByUnit',
                //data: { 'PERSON_CODE': $("#UnitList").val(), 'entryType': 2, 'entryType2': 4 },
                data: { 'distributedByUnit': $("#hddSelectedUnit").val(), 'entryType': 2, 'entryType2': 4 },
                success: function (result) {
                    if (result.length > 0) {
                        $('#SerialNo').empty();
                        $('#FK_WEAPON_DETAIL').empty();
                        $.each(result, function (index, value) {
                            
                            //$('#getwlSerial').append($("<option value='" + value.PK_Weapons_ID + "'>" + value.Serial_No + "</option>"));
                            $('#SerialNo').append($("<option value='" + value.PK_WEAPONS_ID + "'>" + value.SERIAL_NO + "</option>"));
                            //$('#WeaponName').append($("<option value='" + value.PK_Weapons_ID + "'>" + value.Weapon_Name + "</option>"));
                            $('#FK_WEAPON_DETAIL').append($("<option value='" + value.PK_WEAPONS_ID + "'>" + value.WEAPON_NAME + "</option>"));
                            //  alert($('#wlserial').html);
                        })
                        //var selectedText = $('#getwlSerial :selected').val();
                        //$('#getWeaponName').val(selectedText);
                        var selectedText = $('#SerialNo :selected').val();
                        //$('#FK_Weapon_detail').val(selectedText);
                        $('#FK_WEAPON_DETAIL :selected').val(selectedText);
                    }
                }
            });
        });
        $('#SerialNo').change(function () {            
            $('#FK_WEAPON_DETAIL').val($('#SerialNo :selected').val());
            //$('#FK_Weapon_detail').val($('#SerialNo :selected').val());
        });

        $('#FK_WEAPON_DETAIL').change(function () {
            $('#SerialNo').val($('#FK_WEAPON_DETAIL :selected').val());
            //$('#SerialNo').val($('#FK_Weapon_detail :selected').val());
        });

        /***temp */
        $('#date').change(function () {
            $('#DISTRIBUTEDDATE').val($('#date').val());
        })

        function showDialog(id) {

            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }

@*        $(function () {
            $('#txtAutoComplete').autocomplete({
                source: function (request, response) {
                    var unit = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("AutoCompleteForReturnToUnit"))",
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            unit[i] = { label: data[i].UNIT_NAME, Id: data[i].ID };
                        }
                    }
                });
                response(unit);
            },

                min: 3,
                select: function (event, ui) {
                    $('#DISTRIBUTIONBY').val(ui.item.Id);
                }
            });
        })*@
    </script>
}
