﻿@model PRISM.TBL_WEAPON_DISTRIBUTION
@{
    ViewBag.Title = "Goli Return";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<h2>Weapon Return By Person</h2>
@using (Html.BeginForm())
{@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Personnel</div>
            <div class="cell ">
                @*@Html.DropDownList("PersonList", String.Empty)*@
                @Html.DropDownListFor(model => model.DISTRIBUTIONBY, (SelectList)ViewBag.PersonList, @PRISM.Resource.SelectPerson)
                @Html.ValidationMessageFor(Model => Model.DISTRIBUTIONBY)
                @Html.Hidden("hddDistributionType", "Person")
            </div>
            <div class="cell labelfor">@PRISM.Resource.Status</div>
            <div class="cell ">
                @*@Html.DropDownList("Status", String.Empty)*@
                @Html.DropDownListFor(model => model.STATUS, (SelectList)ViewBag.status, @PRISM.Resource.SelectStatus)
                @Html.ValidationMessageFor(Model => Model.STATUS)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.WeaponName</div>
            <div class="cell ">
                @* <select id="WeaponName"></select>
                    @Html.Editor("getWeaponName", String.Empty)*@


             @Html.DropDownListFor(model => model.Weapon_Id, (SelectList)ViewBag.status1, @PRISM.Resource.SelectStatus)
            

            </div>
            <div class="row cells4">
                <div class="cell labelfor">Number</div>
                <div class="cell ">
                    @*<select id="getwlSerial">Serial</select>
                        @Html.Editor("serialNo", String.Empty)*@
                    @Html.TextBoxFor(model => model.SerialNo)
                    @Html.ValidationMessageFor(model => model.SerialNo)
                </div>
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.ReturnedDate</div>
            <div class="cell ">
                <div class="input-control text">
                    @Html.Editor("date", string.Empty)
                    
                   
                </div>
            </div>
            <div class="cell labelfor">@PRISM.Resource.Comments</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell ">
                <input type="submit" value="@PRISM.Resource.Save" />
            </div>
        </div>
    </div>
}
