﻿@model PRISM.TBL_MASTER_INV
@{
               ViewBag.Title = "Register Weapons";
}
@*<script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

@using(Html.BeginForm("Create","Weapons",FormMethod.Post))
	{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>@ViewBag.HeadMessage</h2>
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Item</div>
            <div class="cell ">
                @Html.EditorFor(model => model.ITEMNAME)
                <span class="field-validation-error">*</span>
                @Html.ValidationMessageFor(model => model.ITEMNAME)
            </div>
           
            <div class="cell labelfor">@PRISM.Resource.UOM</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.FK_UOM_ID, new SelectList(ViewBag.UoM, "PK_UoM_ID", "unitName"), @PRISM.Resource.SelectUnit)
                <span class="field-validation-error">*</span>
                @Html.ValidationMessageFor(model => model.FK_UOM_ID)
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Specification</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.SPECIFICATION)
                <span class="field-validation-error">*</span>
                @Html.ValidationMessageFor(model => model.SPECIFICATION)
            </div>

            <div class="cell labelfor">@PRISM.Resource.Comments</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>
        </div>
        @*<div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.ENTRYDATE)</div>
            <div class="cell ">
                <div data-role="datepicker" class="input-control text">
                    @Html.TextBox("ENTRYDATE")
                </div>
                @Html.ValidationMessageFor(model => model.ENTRYDATE)
            </div>

            @*<div class="cell labelfor">@Html.LabelFor(model => model.ENTRYBY)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.ENTRYBY)
                @Html.ValidationMessageFor(model => model.ENTRYBY)
            </div>

        </div>*@
      
    <div class="row cells4">
        
        <div class="cell labelfor"></div>
        <div class="cell "><input type="submit" value="@PRISM.Resource.Create" /></div>
        <div class="cell labelfor"></div>
        <div class="cell "></div>
   </div>
    @*<div class="row cells7">

        </div>*@
    </div>
}
    @section userscript{
        <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script>
            $('#whpurchasedate').calendar();
            //function datepicking() {
            //    var date = new Date($('#POSTINGDATE').val());
            //}
        </script>
    }