﻿@*@model IEnumerable<PRISM.Models.spWeaponsSearch>
@{
    ViewBag.Title = "Search Result Data";
}

    <h2>Result</h2>
<table class="table">
    <tr>
        <th>@PRISM.Resource.WeaponName</th>        
        <th>@PRISM.Resource.SerialNum</th>
        <th>With</th>
        <th>State</th>
        <th>@PRISM.Resource.DistributedDate</th>
        <th>@PRISM.Resource.Comments</th>
    </tr>
    @foreach (var item in Model)
{
    <tr>

        <td>@Html.DisplayFor(m => item.Weapon_Name)</td>
        <td>@Ajax.ActionLink(item.Serial_No, "GetSearchResultDetail", "Weapons", new { id = item.Weapons_Id,s="Serial" }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "showDialog('dialog7')" })</td>
        <td>@Html.DisplayFor(m => item.Name)</td>
        <td>@Html.DisplayFor(m=>item.Regions)</td>
        <td>@Ajax.ActionLink(item.State, "GetSearchResultDetail", "Weapons", new { id = item.stateGuid, s = "State" }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "showDialog('dialog7')" })</td>
        <td>@Html.DisplayFor(m => item.DistributedDate)</td>
        <td>@Html.DisplayFor(m => item.Comments)</td>
    
    </tr>
}
</table>


<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 500px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerid">
        <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>


@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        //$(document).ready(function () {
        //$('#dialog7').click(function () {
        //    showDialog(this);
        //});
        //});
        function showDialog(id) {
            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }
    </script>
}*@
@model IEnumerable<PRISM.Models.WeaponDistributionDetail>
@{
    ViewBag.Title = "WeaponItem";
}

<h2>Weapon Distribution Details</h2>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>@PRISM.Resource.DistributedDate</th>
            <th>@PRISM.Resource.WeaponName</th>
            <th>@PRISM.Resource.SerialNum</th>
            <th>@PRISM.Resource.DistributedBy</th>
            <th>@PRISM.Resource.DistributedTo</th>
            <th>@PRISM.Resource.Status</th>
        </tr>
        @foreach (var item in Model)
        {
            var rowColor = ConsoleColor.Green;
            var fgcol = ConsoleColor.White;

            if (item.status == "Transfered")
            {
                rowColor = ConsoleColor.Yellow;
                fgcol = ConsoleColor.Black;
            }
            else if (item.status == "Waived")
            {
                rowColor = ConsoleColor.Red;
                fgcol = ConsoleColor.White;
            }

            <tr @*style="background-color: @rowColor;color:@fgcol"*@>
                <td><span class="spandatepartial">
                        @if (item.DISTRIBUTEDDATE != null)
                              {
                                  @item.DISTRIBUTEDDATE.Value.ToString("yyyy-MM-dd")
                              }
                    </span></td>
                <td>@Html.DisplayFor(model => item.weaponName)</td>
                <td>@Html.DisplayFor(model => item.serialNumber)</td>
                <td>@Html.DisplayFor(model => item.distributedBy)</td>
                <td>@Html.DisplayFor(model => item.distributedTo)</td>
                <td>@Html.DisplayFor(model => item.status)</td>
               
            </tr>
        }
    </table>
</div>
@section userscript{
    <link href="~/Content/bootstraper.css" rel="stylesheet" />
}






















