﻿@model PRISM.TBL_WEAPON_DETAIL
@{
    ViewBag.Title = "Edit Weapon";
}
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Html.BeginForm("EditWeapon", "Weapons", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2>@ViewBag.HeadMessage</h2>
                @Html.HiddenFor(model => model.PK_WEAPONS_ID)
                @Html.HiddenFor(model => model.PurchaseInfo.PK_PURCHASE_ID)
    
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.WeaponName</div>
            <div class="cell ">
                @Html.EditorFor(model => model.WEAPON_NAME, new {required = "true"})
                @Html.ValidationMessageFor(model => model.WEAPON_NAME)
            </div>
            <div class="cell labelfor">@PRISM.Resource.SerialNum</div>
            <div class="cell ">
                @Html.EditorFor(model => model.SERIAL_NO, new {required = "true"})
                @Html.ValidationMessageFor(model => model.SERIAL_NO)
            </div>
        </div>

        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.WeaponType</div>
            <div class="cell ">
               @* @Html.DropDownList("WeaponType", string.Empty)*@
                @Html.DropDownListFor(model => model.FK_MASTER_INV, new SelectList(ViewBag.WeaponType, "PK_MASTER_INV_ID", "ITEMNAME"), @PRISM.Resource.SelectWeaponType)
                @Html.ValidationMessageFor(model=>model.FK_MASTER_INV)
                
            </div>

            <div class="cell labelfor">@PRISM.Resource.Description</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.DESCRIPTION, new {required = "true"})
                @Html.ValidationMessageFor(model => model.DESCRIPTION)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.BookPageId</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.BOOKPAGEID,  new List<SelectListItem>{
                                                                   new SelectListItem{Text="47", Value="47"},
                                                                   new SelectListItem{Text="52", Value="52"}
                                                                   })
                @Html.ValidationMessageFor(model => model.BOOKPAGEID)
            </div>
            @*<div class="cell labelfor">@Html.LabelFor(model => model.Status)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>*@
            @*<div class="cell labelfor">@Html.Label("Quantity")</div>
        <div class="cell ">
           @Html.TextBox("qty", new { type = "number", required="true"})
        </div>*@
            <div class="cell labelfor">@PRISM.Resource.UnitPrice</div>
            <div class="cell ">
                @*@Html.TextBox("unitPrice", string.Empty, new { type = "number", required = "true" })*@
                @Html.TextBoxFor(model=>model.PurchaseInfo.UNITPRICE)
                @Html.ValidationMessageFor(model=>model.PurchaseInfo.UNITPRICE)
            </div>
        </div>

        @*purchase detail starts from here*@
        @*<div class="row cells4">
           
        </div>*@

        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.VAT</div>
            <div class="cell ">
                @Html.TextBoxFor(model=>model.PurchaseInfo.VAT)
                @Html.ValidationMessageFor(model=>model.PurchaseInfo.VAT)
            </div>
            <div class="cell labelfor">@PRISM.Resource.ExtraExpenses</div>
            <div class="cell ">
                @*@Html.TextBox("extraExpenses", string.Empty,  new { type = "number", required="true"})*@
                @Html.TextBoxFor(model=>model.PurchaseInfo.EXTRAEXPENSES)
                @Html.ValidationMessageFor(model=>model.PurchaseInfo.EXTRAEXPENSES)
            </div>
        </div>

        @*purchase detail starts from here*@
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.PurchasedDate</div>
            <div class="cell ">
                <div class="input-control text" >
                    @Html.TextBox("PURCHASEDDATE-np",null, new {@class="nepali-calendar"})
                    @Html.ValidationMessageFor(model=>model.PurchaseInfo.PURCHASEDDATE)
                    @Html.TextBoxFor(model=>model.PurchaseInfo.PURCHASEDDATE, new {@id="PURCHASEDDATE"})
                </div>
                
            </div>

            <div class="cell labelfor">@PRISM.Resource.Vendor</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.PurchaseInfo.FK_VENDORID, new SelectList(ViewBag.VendorList, "PK_VENDORID", "VENDORNAME"), @PRISM.Resource.SelectVendor)
                @Html.ValidationMessageFor(model=>model.PurchaseInfo.FK_VENDORID)
                @*@Html.DropDownList("VendorList", string.Empty)*@
                @*@Html.ValidationMessage("VendorList", string.Empty)*@
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor"></div>
            <div class="cell ">
                <input type="submit" value="@PRISM.Resource.Save" />
            </div>
            @*<div class="cell>
                </div>*@
        </div>
    </div>
}

