﻿@{
    ViewBag.Title = "Search Weapon";
}
<h2>Search Weapon</h2>
@using (Ajax.BeginForm("DisplaySearchWeapon", "Weapons", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ShowResult", LoadingElementId = "loader", OnSuccess = "convertDateInPartialSpan" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="grid condensed">
        <div class="row cell">
        </div><div class="row cell">@Html.TextBox("wcode", null, new { placeholder = "A000-000A" })
        </div><div class="row cell">
                  <input type="submit" value="Search" />
        </div>

    </div>
    
    
}
<div id="ShowResult">
    </div>

@section userscript{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
