﻿@model IEnumerable<PRISM.Models.WeaponDistributionDetail>
@{
    ViewBag.Title = "WeaponItem";
}

<h2>Weapon Distribution Details</h2>
@if (ViewBag.Show == "Serial")
{
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Purchase Date</th>
                <th>Weapon Name</th>
                <th>Serial</th>
                <th>Distributed By</th>
                <th>Distributd To</th>
                <th>Status</th>
            </tr>
            @foreach (var item in Model)
            {
                var rowColor = ConsoleColor.Green;
                var fgcol = ConsoleColor.White;

                if (item.status == "Transfered")
                {
                    rowColor = ConsoleColor.Yellow;
                    fgcol = ConsoleColor.Black;
                }
                else if (item.status == "Waived")
                {
                    rowColor = ConsoleColor.Red;
                    fgcol = ConsoleColor.White;
                }

                <tr style="background-color: @rowColor;color:@fgcol">
                    <td>@Html.DisplayFor(model => item.distributedDate)</td>
                    <td>@Html.DisplayFor(model => item.weaponName)</td>
                    <td>@Html.DisplayFor(model => item.serialNumber)</td>
                    <td>@Html.DisplayFor(model => item.distributedBy)</td>
                    <td>@Html.DisplayFor(model => item.distributedTo)</td>
                    <td>@Html.DisplayFor(model => item.status)</td>
                </tr>
            }
        </table>
    </div>

}
else if (ViewBag.Show == "State")
{
    <h2>Result</h2>
    //show weapons count here show elequently
    <table class="table">
        <tr>
            <th>Region</th>
            <th>State</th>
            <th>Weapons Count</th>

        </tr>
        @foreach (var imode in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => imode.RegionName)</td>
                <td>@Html.DisplayFor(m => imode.StateName)</td>
                <td>@Html.DisplayFor(m => imode.WeaponCnt)</td>
            </tr>
        }

    </table>
}








