﻿@model IEnumerable<PRISM.Models.WeaponDistributionDetail>
@{
    ViewBag.Title = "WeaponItem";
}

<h2>Weapon Distribution Details</h2>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>@PRISM.Resource.DistributedDate</th>
            <th>@PRISM.Resource.WeaponName</th>
            <th>@PRISM.Resource.SerialNum</th>
            <th>@PRISM.Resource.DistributedBy</th>
            <th>@PRISM.Resource.DistributedTo</th>
            <th>@PRISM.Resource.Status</th>
            <th>@PRISM.Resource.EntryDate</th>
        </tr>
        @foreach (var item in Model)
        { 
           var rowColor = ConsoleColor.Green;
            var fgcol = ConsoleColor.White;

            if (item.status == "Transfered")
            {
                rowColor = ConsoleColor.Yellow;
                fgcol = ConsoleColor.Black;
            }
            else if (item.status == "Waived")
            {
                rowColor = ConsoleColor.Red;
                fgcol = ConsoleColor.White;
            }

            <tr @*style="background-color: @rowColor;color:@fgcol"*@>
                <td><span class="spandatepartial">
                        @if (item.DISTRIBUTEDDATE != null)
                              {
                                  @item.DISTRIBUTEDDATE.Value.ToString("yyyy-MM-dd")
                              }
                    </span></td>                
                <td>@Html.DisplayFor(model => item.weaponName)</td>
                <td>@Html.DisplayFor(model => item.serialNumber)</td>
                <td>@Html.DisplayFor(model => item.distributedBy)</td>
                <td>@Html.DisplayFor(model => item.distributedTo)</td>
                <td>@Html.DisplayFor(model => item.status)</td>
                
                
                @*<td>@Html.Actionlink("Edit", "UpdateData", "Weapons", new { id = item.serialNumber })</td>*@
                <td>@Html.ActionLink("Edit", "UpdateData","Weapons", new { id = item.serialNumber },null)</td>
            </tr>
        }
    </table>
</div>
@section userscript{
<link href="~/Content/bootstraper.css" rel="stylesheet" />
}
