﻿@model PRISM.Models.spWeaponsDetail

@{
    ViewBag.Title = "UpdateData";
}

<h2>UpdateData</h2>


@using (Html.BeginForm("UpdateData", "Weapons", FormMethod.Post))
{@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <legend>Item</legend>
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.WeaponName</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.WEAPON_NAME, new {disabled ="disabled"})
            </div>
            <div class="cell labelfor">@PRISM.Resource.SerialNum)</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.SERIAL_NO, new {disabled ="disabled"})
               
                @Html.Hidden("hddSerialNo", "")
                @Html.HiddenFor(model => model.PK_WEAPONS_ID)
                @Html.HiddenFor(model => model.pk_wdistribution_id)
                @Html.HiddenFor(model => model.pk_purchase_id)
                @Html.HiddenFor(model => model.pk_master_inv_id)


            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Item
            </div>
            <div class="cell ">
              @Html.TextBoxFor(model => model.ITEMNAME)
            </div>
            <div class="cell labelfor">
                @PRISM.Resource.Specification
                
            </div>
            <div class="cell ">
               @Html.TextBoxFor(model => model.SPECIFICATION, new { disabled = "disabled" })
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Specification
                
            </div>
            <div class="cell ">
                @Html.EditorFor(model => model.SPECIFICATION)
            </div>
            <div class="cell labelfor">
                @PRISM.Resource.BookPageId
                
            </div>
            <div class="cell ">
                @Html.EditorFor(model => model.BOOKPAGEID)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.Status
                
            </div>
            <div class="cell ">
                @*@Html.EditorFor(model => model.STATUS)*@
                @Html.DropDownListFor(model => model.STATUS, (SelectList)ViewBag.status, @PRISM.Resource.SelectStatus)
            </div>
            <div class="cell labelfor">
                @PRISM.Resource.DistributedBy
                
            </div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.DISTRIBUTIONBY, new {disabled="disabled"})
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.DistributedTo
                
            </div>
            <div class="cell ">
                @Html.EditorFor(model => model.DISTRIBUTIONTO)
            </div>
            <div class="cell labelfor">
                @PRISM.Resource.EntryBy
              
            </div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.ASSIGNEDBYTO, new { disabled = "disabled" })
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">
                @PRISM.Resource.DistributedDate

            </div>
            <div class="cell input-control text" >
                @Html.TextBox("DISTRIBUTEDDATE-np",null, new {@class="nepali-calendar"})
                    @Html.TextBoxFor(model => model.DISTRIBUTEDDATE)
            </div>
            <div class="cell labelfor">
                @PRISM.Resource.ExtraExpenses

            </div>
            <div class="cell ">
                @Html.EditorFor(model => model.EXTRAEXPENSES)
            </div>
        </div>
        <div class="row cells4">
    <div class="cell labelfor">
        @PRISM.Resource.PurchasedDate


    </div>
            <div class="cell">
                @Html.TextBox("PURCHASEDDATE-np",null, new { disabled="disabled"})
                @Html.TextBoxFor(model => model.PURCHASEDDATE, new { disabled="disabled"})
            </div>
    <div class="cell labelfor">
        
        @PRISM.Resource.UnitPrice
       

    </div>
    <div class="cell ">
        @Html.TextBoxFor(model => model.UNITPRICE, new {disabled="disabled" })
    </div>
</div>
        <div class="row cells4">
            <div class="cell labelfor">
            </div>
            <div class="cell" >
            </div>
            <div class="cell labelfor">

               


            </div>
            <div class="cell ">
                <input type="submit" value="@PRISM.Resource.Save" />
                @*<input type="" value="@PRISM.Resource.CancelButton" />*@
                <input type="button" onclick="window.history.back()" value="@PRISM.Resource.CancelButton" class="cancel-button btn-form" />
            </div>
        </div>

        
      </div>

    
  
        


}

@section userscript{
    <script type="text/javascript">
        $(document).ready(function () {
            loadCalendarAndConvertDate('DISTRIBUTEDDATE-np', 'DISTRIBUTEDDATE');
            loadCalendarAndConvertDate('PURCHASEDDATE-np', 'PURCHASEDDATE');
        });
        </script>

   @*<script>
    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: '/Weapons/AutoCompleteWeaponDesc',
        data: { 'PK_Master_Inv_ID': $("#FK_MASTER_INV").val() },
        success: function (result) {
            if (result.length > 0) {

               
                $('#SerialNo').empty();
                $.each(result, function (index, value) {
                    
                    $('#SerialNo').append($("<option value='" + value.PK_WEAPONS_ID + "'>" + value.SERIAL_NO + "</option>"));
                    $('#hddSerialNo').val($('#SerialNo').text());
                })
                
                
            }
        }
    });
    $('#SerialNo').change(function () {
        $('#FK_WEAPON_DETAIL').val($('#SerialNo :selected').val());
        $('#hddSerialNo').val($('#SerialNo').text());
        //$('#FK_Weapon_detail').val($('#SerialNo :selected').val());
    });
    
    </script>*@
    }

