﻿@model IEnumerable<PRISM.TBL_WEAPON_DETAIL>
@{
    ViewBag.Title = "Weapon List";
}

<h2>@PRISM.Resource.MasterList</h2>
<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 500px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerEditMaster">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
<div>
    <table class="table">
        <tr>

            <th>@PRISM.Resource.WeaponName</th>
            <th>@PRISM.Resource.SerialNum</th>
            <th>@PRISM.Resource.Description</th>
            <th>@PRISM.Resource.BookPageId</th>
            <th>@PRISM.Resource.UnitPrice</th>
            <th>@PRISM.Resource.VAT</th>
            <th>@PRISM.Resource.ExtraExpenses</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.WEAPON_NAME)</td>
                <td>@Html.DisplayFor(model => item.SERIAL_NO)</td>
                <td>@Html.DisplayFor(model => item.DESCRIPTION)</td>
                <td>@Html.DisplayFor(model => item.BOOKPAGEID)</td>
                <td>@Html.DisplayFor(model => item.PurchaseInfo.UNITPRICE)</td>
                <td>@Html.DisplayFor(model => item.PurchaseInfo.VAT)</td>
                <td>@Html.DisplayFor(model => item.PurchaseInfo.EXTRAEXPENSES)</td>
                <td class="fg-white">
                    @Ajax.ActionLink(@PRISM.Resource.Edit, "EditWeapon", "Weapons", new { id = item.PK_WEAPONS_ID }, new AjaxOptions { UpdateTargetId = "containerEditMaster", InsertionMode = InsertionMode.Replace, HttpMethod = "PUT", OnBegin = "showDialog(xhr, 'dialog7')", OnSuccess = "loadCalendarForWeapon" })</td>
            </tr>
       
        }
    </table>
</div>

@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">

        function loadcalendar() {
            loadCalendarAndConvertDate('POSTINGDATE-np', 'POSTINGDATE');
            loadCalendarAndConvertDate('ENTRYDATE-np', 'ENTRYDATE');
        }

    </script>
}
