﻿@model  IEnumerable<PRISM.Models.spWeaponOnhand>
@{
    ViewBag.Title = "WeaponItemInfo";
}


<h2>Weapon Item Details</h2>
<table class="table striped bordered hovered">
    <tr>
        <th>@PRISM.Resource.PurchasedDate</th>
        <th>@PRISM.Resource.EntryDate</th>
        <th>@PRISM.Resource.WeaponName</th>
        <th>@PRISM.Resource.WeaponType</th>
        <th>@PRISM.Resource.SerialNum</th>
        <th>@PRISM.Resource.Specification</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><span class="spandate">@Html.DisplayFor(model => item.whpurchasedate)</span></td>
            <td>@Html.DisplayFor(model => item.whENTRYDATE)</td>
            <td>@Html.DisplayFor(model => item.whname)</td>
            <td>@Html.DisplayFor(model => item.whtype)</td>
            <td>@Html.DisplayFor(model => item.whSerial)</td>
            <td>@Html.DisplayFor(model => item.whSPECIFICATION)</td>
            <td>@Ajax.ActionLink("Detail", "iWeaponItemDetail", new { id = item.whguid }, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showDialog('dialog7')", OnSuccess = "convertDateInPartialSpan" })</td>


        </tr>
    }
</table>

<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 500px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerid">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        //$(document).ready(function () {
        //$('#dialog7').click(function () {
        //    showDialog(this);
        //});
        //});
        function showDialog(id) {
            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }
    </script>
}
