﻿@model IEnumerable<PRISM.Models.spWeaponOnhand>
@{
    ViewBag.Title = "Weapons";
}
<h2>@PRISM.Resource.WeaponMasterHeader</h2>

@if (this.Session["UnitCode"].ToString() == "PHQ" && Roles.GetRolesForUser().Contains("Admin"))
{
    if (PRISM.RoleRightHelper.HasUserRight("AddWeaponMaster"))
    {
    @Ajax.ActionLink(@PRISM.Resource.RegisterWeaponType, "CreateOSP", null, new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showDialog(xhr,'dialog7')" }, new { @class = "button primary" })

    }
    if (PRISM.RoleRightHelper.HasUserRight("AddWeapon"))
    {
    @Ajax.ActionLink(@PRISM.Resource.AddNewWeapon, "CreateOSP1", null, new AjaxOptions { UpdateTargetId = "containerAddWeapon", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showDialog(xhr, 'dialog8')", OnSuccess = "loadCalendarForWeapon" }, new { @class = "button primary" })

    @Html.ActionLink(PRISM.Resource.WeaponType, "MasterWeaponTypeList", null, new { @class = "button primary" })
    @Html.ActionLink(PRISM.Resource.MasterList, "WeaponList", null, new { @class = "button primary" })
    
    
    @Ajax.ActionLink(@PRISM.Resource.SearchWeapon, "SearchWeapon", null, new { @class = "button primary" }, new AjaxOptions { UpdateTargetId = "placeholderid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnSuccess = "convertDateInPartialSpan" }, new { @class = "button primary" })
    }
}

<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 500px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerid">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
    </div>
</div>
<div data-role="dialog" id="dialog8" class="padding20" data-close-button="true" style="display: none; max-height: 500px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerAddWeapon">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
    </div>
</div>
<h2>@ViewBag.Wlmessage</h2>
<div class="Master tile-area no-padding" id="placeholderid">
    <div class="slave tile-container">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
            <div data-role="tile" class="tile-square">
                <a href="@Url.Action("WeaponItemInfo", "Weapons", new { id = item.whguid }) ">
                    <strong>@Html.DisplayFor(m => item.whtype)</strong><br />
                    @Html.DisplayFor(m => item.whSPECIFICATION)
                    <br />
                    @Html.DisplayFor(m => item.qty)
                    @Html.DisplayFor(m => item.UNITSHORT)
                </a>
            </div>
            }
        }
    </div>
</div>





@section userscript{
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @*                <script>

            function showDialog(id) {
                var dialog = $("#" + id).data('dialog');
                if (!dialog.element.data('opened')) {
                    dialog.open();
                } else {
                    dialog.close();
                    alert("closed");
                }
            }
        </script>*@
}
