﻿@model  IEnumerable<PRISM.Models.spWeaponOnhand>
@{
    ViewBag.Title = "WeaponItemDetail";
}


<h2>Weapon Item Details</h2>
<table>
    <tr>
        <th>Purchase Date</th>
        <th>Entry Date</th>
        <th>Weapon Name</th>
        <th>Weapon Type</th>
        <th>Quantity</th>
        <th>Seiral</th>
        <th>Specification</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.whpurchasedate)</td>
            <td>@Html.DisplayFor(model => item.whENTRYDATE)</td>
            <td>@Html.DisplayFor(model => item.whname)</td>
            <td>@Html.DisplayFor(model => item.whtype)</td>
            <td>@Html.DisplayFor(model => item.qty)</td>
            <td>@Html.DisplayFor(model => item.whSerial)</td>
            <td>@Html.DisplayFor(model => item.whSPECIFICATION)</td>
        </tr>
    }
</table>
