﻿@model PRISM.tbl_Weapon_Distribution
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Weapon To Person</h2>
@using (Html.BeginForm())
{@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@Html.Label("Person Name")</div>
            <div class="cell ">
                @Html.DropDownList("PersonList", String.Empty)
            </div>
            <div class="cell labelfor">@Html.Label("Weapon Type")</div>
            <div class="cell ">
                @Html.DropDownList("WeaponTypeList", String.Empty)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.Label("Weapon Name")</div>
            <div class="cell ">
                <select id="WeaponName"></select>
                @Html.Editor("getWeaponName", String.Empty)
            </div>

            <div class="row cells4">
                <div class="cell labelfor">@Html.Label("Serial")</div>
                <div class="cell ">
                    <select id="getwlSerial">Serial</select>
                    @Html.Editor("serialNo", String.Empty)
                </div>
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.DistributedDate)</div>
            <div class="cell ">
                <div class="input-control text" data-role="datepicker">
                    @Html.EditorFor(model => model.DistributedDate)
                  @*  @Html.Editor("date", string.Empty)*@
                </div>
            </div>

            <div class="cell labelfor">@Html.LabelFor(model => model.Comments)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.Comments)
            </div>
        </div>
        <div class="row cells4">

            <div class="cell ">
                <input type="submit" value="Create" />
            </div>

        </div>

    </div>
}


@section userscript{
<script type="text/javascript">
    $(document).ready(function () {
        $('#serialNo').css("display", "none");
        $('#getWeaponName').css("display", "none");
        $('#date').css("display", "none");
    });
    $("#WeaponTypeList").change(function () {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/Weapons/AutoCompleteWeaponDesc',
            data: { 'PK_Master_Inv_ID': $("#WeaponTypeList").val() },
            success: function (result) {
                if (result.length > 0) {
                    $('#WeaponDescription').val(result[0].whspecification);
                    $.each(result, function (index, value) {
                        //  alert(value.wlserial);
                        //var newOption = "<option value='" + value.whspecification + "'>" + value.wlserial + "</option>";
                        $('#getwlSerial').append($("<option value='" + value.PK_Weapons_ID + "'>" + value.Serial_No + "</option>"));
                        $('#WeaponName').append($("<option value='" + value.PK_Weapons_ID + "'>" + value.Weapon_Name + "</option>"));
                        //  alert($('#wlserial').html);
                    })
                    var selectedText = $('#getwlSerial :selected').val();
                    $('#getWeaponName').val(selectedText);
                }
            }
        });
    });
    $('#getwlSerial').change(function () {
        $('#WeaponName').val($('#getwlSerial :selected').val());
        $('#getWeaponName').val($('#getwlSerial :selected').val());
    });

    $('#WeaponName').change(function () {
        $('#getwlSerial').val($('#WeaponName :selected').val());
        $('getWeaponName').val($('#WeaponName :selected').val());
    });

    /***temp */
    $('#date').change(function () {
        $('#DistributedDate').val($('#date').val());
    })
</script>

}
