﻿@model PRISM.TBL_WEAPON_DISTRIBUTION
          
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<h2>Weapon To Unit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Unit</div>
            <div class="cell ">
                @Html.Hidden("hddSelectedUnit")
                @Html.TextBox("txtAutoComplete", null, new { id = "txtAutoComplete" })
                @Html.DropDownListFor(model => model.DISTRIBUTIONTO, (SelectList)ViewBag.UnitList, "---Select Unit---", new { style = "display:none;" })
                @Html.ValidationMessageFor(Model => Model.DISTRIBUTIONTO)
                @Html.Hidden("hddDistributionType", "Unit")
                <a data-ajax="true" data-ajax-complete="showDialog(&#39;dialog7&#39;)" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#containerid" href="/Treeview/TreeView?Length=8" style="float:left;"><img alt="" src="../../Images/org-hierr-icon_16_16.png" title="" /></a>
                @*@Ajax.ImageActionLink(, "TreeView", "Treeview", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "showDialog('dialog7')" })*@
            </div>
            <div class="cell labelfor">@PRISM.Resource.WeaponType</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.FK_MASTER_INV, (SelectList)ViewBag.WeaponTypeList, @PRISM.Resource.SelectWeaponType)
                @Html.ValidationMessageFor(Model => Model.FK_MASTER_INV)
                @*@Html.DropDownList("WeaponTypeList", String.Empty)
                    @Html.ValidationMessage(model=>model.FK_Weapon_detail,"")*@
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.WeaponName</div>
            <div class="cell ">

                @Html.DropDownListFor(model => model.FK_WEAPON_DETAIL, Enumerable.Empty<SelectListItem>(), @PRISM.Resource.SelectWeapon)
                @Html.ValidationMessageFor(model => model.FK_WEAPON_DETAIL)


                @*                @Html.TextBoxFor(model=>model.FK_WEAPON_DETAIL)
                    <input type="hidden" id="hddWeaponId" name="hddWeaponId" style="display:none" />
                    @Html.ValidationMessageFor(model => model.FK_WEAPON_DETAIL)*@
            </div>

            <div class="row cells4">
                <div class="cell labelfor">@PRISM.Resource.WeaponSerialNumber</div>
                <div class="cell ">

                    @Html.DropDownListFor(model => model.SerialNo, Enumerable.Empty<SelectListItem>(), @PRISM.Resource.SelectSerialNum)
                    @Html.ValidationMessageFor(model => model.SerialNo)
                    @Html.Hidden("hddSerialNo", "")

                    @*@Html.TextBoxFor(model=>model.SerialNo)
                        @Html.ValidationMessageFor(model => model.SerialNo)
                    *@

                </div>
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.DistributedDate</div>
            <div class="cell ">
                <div class="input-control text">
                    @Html.Editor("date", string.Empty)
                    @Html.TextBox("DISTRIBUTEDDATE-np",null, new {@class="nepali-calendar"})
                    @Html.ValidationMessageFor(model => model.DISTRIBUTEDDATE)
                    @Html.TextBoxFor(model => model.DISTRIBUTEDDATE)
                </div>
            </div>

            <div class="cell labelfor">@PRISM.Resource.Comments</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>
        </div>
        <div class="row cells4">

            <div class="cell ">
                <input type="submit" value="@PRISM.Resource.Create" />
            </div>

        </div>

    </div>

    <div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none;  " data-windows-style="true">
        <div class="container" id="containerid">
            <h3>Please Wait...Processing Your Request...</h3>
            <p>

                <img src="~/Images/spinner-md.gif" />
            </p>
            <div class="cell padding20 bg-white">
                <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
            </div>
        </div>
    </div>
}


@section userscript{
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            loadCalendarAndConvertDate('DISTRIBUTEDDATE-np', 'DISTRIBUTEDDATE');
            $('#date').css("display", "none");
            });
        $("#FK_MASTER_INV").change(function () {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Weapons/AutoCompleteWeaponDesc',
                data: { 'PK_Master_Inv_ID': $("#FK_MASTER_INV").val() },
                success: function (result) {
                    if (result.length > 0) {

                        $('#FK_WEAPON_DETAIL').empty();
                        $('#SerialNo').empty();
                        $.each(result, function(index, value) {
                            $('#FK_WEAPON_DETAIL').append($("<option value='" + value.PK_WEAPONS_ID + "'>" + value.WEAPON_NAME + "</option>"));
                            $('#SerialNo').append($("<option value='" + value.PK_WEAPONS_ID + "'>" + value.SERIAL_NO + "</option>"));
                            $('#hddSerialNo').val(value.SERIAL_NO);
                            $('#FK_WEAPON_DETAIL').val(value.PK_WEAPONS_ID);
                        });
                        //var selectedText = $('#getwlSerial :selected').val();
                    }
                }
            });
        });

        $('#SerialNo').change(function () {
            $('#FK_WEAPON_DETAIL').val($('#SerialNo :selected').val());
            $('#hddSerialNo').val($('#SerialNo').text());
            //$('#FK_Weapon_detail').val($('#SerialNo :selected').val());
        });

        $('#FK_WEAPON_DETAIL').change(function () {
            $('#SerialNo').val($('#FK_WEAPON_DETAIL :selected').val());
            $('#hddSerialNo').val($('#SerialNo').text());
            //$('#SerialNo').val($('#FK_Weapon_detail :selected').val());
        });

        /***temp */
        $('#date').change(function(){
            $('#DISTRIBUTEDDATE').val($('#date').val());
        })

        function showDialog(id) {

            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }

        $(function () {
            $('#txtAutoComplete').autocomplete({
            @*source: '@Url.Action("AutoComplete")',*@
            source: function (request, response) {
                var unit = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("Autocomplete"))",
                    data: { "term": request.term },
                    success: function (data) {
                        for (var i = 0; i < data.length ; i++) {
                            unit[i] = { label: data[i].UNIT_NAME, Id: data[i].ID };
                        }
                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        alert(err.Message);
                    }
                });
                response(unit);
            },

            min: 3,
            select: function (event, ui) {
                $('#DISTRIBUTIONTO').val(ui.item.Id);
            }
        });
         })
    </script>
}
