﻿@model PRISM.Item
<h2>@ViewBag.HeadMessage
    <strong>@Html.DisplayFor(model => model.ITEMNAME)</strong>
</h2>
<table>
    <tbody>
        <tr>

            <td>
                @Html.DisplayFor(modelItem => modelItem.bookpgid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ITEMNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.SPECIFICATION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.QUANTITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.costPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.taxPU)%
            </td>


            <td>
                @Html.DisplayFor(modelItem => modelItem.ENTRYDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.purchaseOrderNo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => modelItem.Total)
            </td>
</tbody>
</table>
