﻿@model PRISM.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Item</legend>



    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.bookpgid)*@<strong>Current Account Book No:</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bookpgid)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.ITEMNAME)*@<strong>Item Name :</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ITEMNAME)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.SPECIFICATION)*@<strong>SPECIFICATION :</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPECIFICATION)
    </div>

    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.classification)</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.classification)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.unit)*@<strong># Unit:</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unit)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.QUANTITY)*@<strong>Qty:</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QUANTITY)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.costPerUnit)*@<strong>Cost Per Unit:</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.costPerUnit)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.taxPU)*@<strong>Tax Per unit(If applicable) :</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.taxPU)%
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.extraExpenses)*@<strong>Extra Expenses :</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.extraExpenses)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.COMMENTS)*@<strong>COMMENTS :</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COMMENTS)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.purchaseOrderNo)*@<strong>Purchase order # :</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.purchaseOrderNo)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.ENTRYDATE)*@<strong>Entry Date :</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ENTRYDATE)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.entryname)*@<strong>Entry By :</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entryname)
    </div>

    <div class="display-label">
        @*@Html.DisplayNameFor(model => model.Total)*@<strong>Total :</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total)
    </div>
</fieldset>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
