﻿@using PRISM.Filters
@model PRISM.Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Item</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.guid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.guid)
            @Html.ValidationMessageFor(model => model.guid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.bookpgid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.bookpgid, new { type = "number", min = "0", max = "100" })
            @Html.ValidationMessageFor(model => model.bookpgid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ITEMNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ITEMNAME)
            @Html.ValidationMessageFor(model => model.ITEMNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SPECIFICATION)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.SPECIFICATION)
            @Html.ValidationMessageFor(model => model.SPECIFICATION)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.classification)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.classification)
            @Html.ValidationMessageFor(model => model.classification)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.unit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.unit)
            @Html.ValidationMessageFor(model => model.unit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QUANTITY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QUANTITY)
            @Html.ValidationMessageFor(model => model.QUANTITY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.costPerUnit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.costPerUnit)
            @Html.ValidationMessageFor(model => model.costPerUnit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.taxPU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.taxPU)%
            @Html.ValidationMessageFor(model => model.taxPU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.extraExpenses)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.extraExpenses)
            @Html.ValidationMessageFor(model => model.extraExpenses)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.COMMENTS)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.COMMENTS)
            @Html.ValidationMessageFor(model => model.COMMENTS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.purchaseOrderNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.purchaseOrderNo)
            @Html.ValidationMessageFor(model => model.purchaseOrderNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ENTRYDATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENTRYDATE)
            @Html.ValidationMessageFor(model => model.ENTRYDATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.entryid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.entryid)
            @Html.ValidationMessageFor(model => model.entryid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.entryname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.entryname)
            @Html.ValidationMessageFor(model => model.entryname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Total)
            @Html.ValidationMessageFor(model => model.Total)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
