﻿@using PRISM.Filters
@model PRISM.Item

@{
    ViewBag.Title = "Create New Item in Inventory.";
}

@using (Html.BeginForm("Create", "Inventory", FormMethod.Post))
{@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @*<fieldset>
            <legend>Item</legend>


            <div class="editor-label">
                @Html.LabelFor(model => model.bookpgid)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.bookpgid,new { type = "number", min = "0", max = "100" })
                @Html.ValidationMessageFor(model => model.bookpgid)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ITEMNAME)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ITEMNAME)
                @Html.ValidationMessageFor(model => model.ITEMNAME)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SPECIFICATION)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SPECIFICATION)
                @Html.ValidationMessageFor(model => model.SPECIFICATION)
            </div>




            <div class="editor-label">
                @Html.LabelFor(model => model.unit)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.unit)
                @Html.ValidationMessageFor(model => model.unit)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.QUANTITY)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.QUANTITY)
                @Html.ValidationMessageFor(model => model.QUANTITY)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.costPerUnit)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.costPerUnit)
                @Html.ValidationMessageFor(model => model.costPerUnit)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.taxPU)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.taxPU)%
                @Html.ValidationMessageFor(model => model.taxPU)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.extraExpenses)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.extraExpenses)
                @Html.ValidationMessageFor(model => model.extraExpenses)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.COMMENTS)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.purchaseOrderNo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.purchaseOrderNo)
                @Html.ValidationMessageFor(model => model.purchaseOrderNo)
            </div>



            <div class="editor-label">
                @Html.LabelFor(model => model.Total)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>*@
    <h2>@ViewBag.HeadMessage</h2>
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.bookpgid)</div>
            <div class="cell ">
                @Html.EditorFor(model => model.bookpgid)
            @Html.ValidationMessageFor(model => model.bookpgid)
        </div>
        <div class="cell labelfor">@Html.LabelFor(model => model.ITEMNAME)</div>
        <div class="cell ">
            @Html.EditorFor(model => model.ITEMNAME)
        @Html.ValidationMessageFor(model => model.ITEMNAME)
    </div>
</div>
<div class="row cells4">
    <div class="cell labelfor">@Html.LabelFor(model => model.SPECIFICATION)</div>
    <div class="cell ">@Html.TextAreaFor(model => model.SPECIFICATION)</div>
    @Html.ValidationMessageFor(model => model.SPECIFICATION)
    <div class="cell labelfor">@Html.LabelFor(model => model.unit)</div>
    <div class="cell ">@Html.EditorFor(model => model.unit)</div>
</div>
<div class="row cells4">
    <div class="cell labelfor">@Html.LabelFor(model => model.QUANTITY)</div>
    <div class="cell ">@Html.EditorFor(model => model.QUANTITY)</div>
    <div class="cell labelfor">@Html.LabelFor(model => model.costPerUnit)</div>
    <div class="cell ">@Html.EditorFor(model => model.costPerUnit)</div>
</div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.taxPU)</div>
            <div class="cell ">@Html.EditorFor(model => model.taxPU)</div>
            <div class="cell labelfor">@Html.LabelFor(model => model.extraExpenses)</div>
            <div class="cell ">@Html.EditorFor(model => model.extraExpenses)</div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@Html.LabelFor(model => model.purchaseOrderNo)</div>
            <div class="cell ">@Html.EditorFor(model => model.purchaseOrderNo)</div>
            <div class="cell labelfor">@Html.LabelFor(model => model.COMMENTS)</div>
            <div class="cell ">@Html.TextAreaFor(model => model.COMMENTS)</div>
        </div>
        <div class="row cells7">
            <input type="submit" value="Create" />
        </div>
</div>
}