﻿@*@model IEnumerable<PRISM.Item>*@
@model IEnumerable<PRISM.Models.spItems>
@{
    ViewBag.Title = "Inventory Details";
}

<h2>Inventory Details</h2>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @*@Ajax.ActionLink("Add New", "CreateOSP", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }, new { onclick = "showDialog('dialog7')" })*@
    @Ajax.ActionLink("Add new", "CreateOSP", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "showDialog('dialog7')" })
</p>
@*<div class="padding20 no-padding-right no-padding-left no-padding-top">

        <button class="button" onclick="showDialog('dialog7')">Windows Style</button>

    </div>*@
<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display:none;" data-windows-style="true">
    <div class="container" id="containerid">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
    </div>
</div>
<div class="Master tile-area no-padding">
    <div class="slave tile-container">
        @foreach (var item in Model)
        {
            <div data-role="tile" class="tile-square">
                @* @Html.DisplayFor(m => item.ITEMNAME)*@
                @*<strong>@Html.ActionLink(item.ITEMNAME, "Detail", new { id = item.id })<br></strong>
                @Html.DisplayFor(m => item.SPECIFICATION)<br>
                @Html.DisplayFor(m => item.QUANTITY) @Html.DisplayFor(m => item.unit)*@
                <a href="@Url.Action("Details", "Inventory", new { id = item.id })" onclick="showDialog('dialog7')">
                    <strong> @Html.DisplayFor(m => item.ITEMNAME)</strong><br />
                    @Html.DisplayFor(m => item.SPECIFICATION)<br />
                    @Html.DisplayFor(m => item.onHand)
                    @Html.DisplayFor(m=> item.unit)
                </a>
            </div>

        }
        </div>
    </div>

        <div id="newcontent">

        </div>


        @section userscript{
            <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
            <script>
                //$(document).ready(function () {
                //$('#dialog7').click(function () {
                //    showDialog(this);
                //});
                //});
                function showDialog(id) {
                    var dialog = $("#" + id).data('dialog');
                    if (!dialog.element.data('opened')) {
                        dialog.open();
                    } else {
                        dialog.close();

                    }
                }
            </script>
        }
