﻿@model PRISM.TBL_ASSETLEDGER
@using (Html.BeginCollectionItem("assets"))
{
    <div class="editorRow">

        <table>
            <tr>
                <th>
                    @Html.LabelFor(model => model.UnitOrPerson)
                </th>
                <th>
                    @Html.LabelFor(model => model.ENTRYFOR)
                </th>
                <th>
                    @Html.LabelFor(model => model.SelectedItemId)
                </th>
                <th>
                    @Html.LabelFor(model => model.QUANTITY)
                </th>
                <th>
                    @Html.LabelFor(model => model.DESCRIPTION)
                </th>
                <th>
                    @Html.LabelFor(model => model.ITEMCATEGORYCODE)
                </th>
                <th>
                    @Html.LabelFor(model => model.TOTALEXPENSES)
                </th>
                <th>
                    @Html.LabelFor(model => model.COMMENTS)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.UnitOrPerson, new List<SelectListItem>

                 {
                    new SelectListItem{ Text="To Unit", Value = "UNIT" , Selected = true},
                    new SelectListItem{ Text="To Person", Value = "PERSON" }
                 },new {@class= "selecthandover", onchange="handoverTo(this)"})
                </td>
                <td>
                    @Html.DropDownList("UnitList", new SelectList(ViewBag.UnitList, "UnitId", "UnitName"), "--- Select Unit ---", new {@class= "selectunit", onchange="entryFor(this)"})
                    @Html.DropDownList("PersonList",new SelectList(ViewBag.PersonList, "PERSON_CODE", "NAME"), "--- Select Person ---", new {@class= "selectperson", style="display:none;", onchange="entryFor(this)"})
                    @Html.HiddenFor(model=>model.ENTRYFOR, new {@class= "hdnentryfor"})

                    @Html.ValidationMessageFor(model => model.ENTRYFOR)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.SelectedItemId, new SelectList(ViewBag.ItemsList, "PK_ASSET_ID", "ITEMNAME"), "--- Select Item ---", new {@class= "selectitem"})
                    @Html.ValidationMessageFor(model => model.SelectedItemId)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.QUANTITY)
                    @Html.ValidationMessageFor(model => model.QUANTITY)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.DESCRIPTION)
                    @Html.ValidationMessageFor(model => model.DESCRIPTION)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ITEMCATEGORYCODE)
                    @Html.ValidationMessageFor(model => model.ITEMCATEGORYCODE)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.TOTALEXPENSES)
                    @Html.ValidationMessageFor(model => model.TOTALEXPENSES)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.COMMENTS)
                    @Html.ValidationMessageFor(model => model.COMMENTS)
                    @Html.HiddenFor(model => model.POSTINGDATE)
                    @Html.HiddenFor(model => model.SelectedVendorId)
                    @Html.HiddenFor(model => model.INVOICEDQUANTITY)
                    @Html.HiddenFor(model => model.VAT)
                    @Html.HiddenFor(model => model.UNITPRICE)
                    @Html.HiddenFor(model => model.ENTRYFOR)

                </td>
            </tr>
        </table>
        <a class="deleteRow" href="#" onclick="removeRow(this)">x</a>
    </div>
}
