﻿@model  IEnumerable<PRISM.TBL_CSV_UPLOAD>

@{
    ViewBag.Title = "CSV Records";
}
@using (Html.BeginForm("CsvRecords", "HandOver", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div style="color: #ee0000">
        @Html.ValidationSummary(false)
    </div>

    <p style="color: #00BB00">@ViewData["SuccessMessage"]</p>




    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
} 

<h2>CsvRecords</h2>
<div class="container">
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <td>PK_ALE_ID</td>
                <td>FK_ASSET_ID</td>
                <td>POSTINGDATE</td>
                <td>ENTRYTYPE</td>
                <td>ENTRYFOR</td>
                <td>DESCRIPTION</td>
                <td>QUANTITY</td>
                <td>ITEMCATEGORYCODE</td>
                <td>COMMENTS</td>
                <td>FK_VENDOR_ID</td>
                <td>ENTRY_DATE</td>
                <td>PATCH_ID</td>
                <td>FILE_NAME</td>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {


                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.PK_ALE_ID</td>
                        <td>@item.FK_ASSET_ID</td>
                        <td>@item.POSTINGDATE</td>
                        <td>@item.ENTRYTYPE</td>
                        <td>@item.ENTRYFOR</td>
                        <td>@item.DESCRIPTION</td>
                        <td>@item.QUANTITY</td>
                        <td>@item.ITEMCATEGORYCODE</td>
                        <td>@item.COMMENTS</td>
                        <td>@item.FK_VENDOR_ID</td>
                        <td>@item.ENTRY_DATE</td>
                        <td>@item.PATCH_ID</td>
                        <td>@item.FILE_NAME</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
