﻿@model PRISM.ITRANSACTION
@{
    ViewBag.Title = "Detail";
}

<h2>Handover <strong>@ViewBag.itemdetail</strong> to</h2>
@*<h2>@ViewBag.itemdetail</h2>*@
<div id="slider-toggle" style="width:100px;" onload="funcinit()"></div><div id="trans-type" style="padding-left: 4px; padding-top: 8px;"></div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Handover to</legend>
        <div class="cell">
            <label class="switch-original" style="width: 48px;">
                <input type="checkbox" checked="">
                <span class="check"></span>
            </label>
        <div class="editor-label">
            @Html.LabelFor(model => model.ITEM_GUID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ITEM_GUID, new { @Value = ViewBag.itemguid, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.ITEM_GUID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.QUANTITY)
        </div>
            <div class="editor-field" style="width: 288px;">
                <div data-min-value="0" data-max-value="@ViewData["itemcnt"]" data-role="slider" data-on-change="dropValueToInput" class="slider large"><div class="complete" style="width: 120px;"></div><a class="marker" style="left: 120px;"></a></div>
                <div class="input-control text">
                    @*<input value="0" id="slider_input">*@
                    @Html.TextBoxFor(model => model.QUANTITY, new { id = "slider_input" })
                </div>

                @Html.ValidationMessageFor(model => model.QUANTITY)
            </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SPECIFICATION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SPECIFICATION)
            @Html.ValidationMessageFor(model => model.SPECIFICATION)
        </div>
        <div class="editor-label">
            @*@Html.LabelFor(model => model.TRANS_TO)*@
            <label>Handover to:</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TRANS_TO)
            @Html.ValidationMessageFor(model => model.TRANS_TO)
        </div>
        <input type="submit" value="Create" />
            </div>
    </fieldset>
}
@section userscript{
    <script>
        function funcinit() {
            init();

        }
 function dropValueToInput(value, slider) {
        $("#slider_input").val(value);
 }
 </script>
}