﻿@model IEnumerable<PRISM.TBL_ASSETLEDGER>
@{
    ViewBag.Title = "MultipleHandOver";
}

<h2>MultipleHandOver</h2>

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="editorRows">
        
        @foreach (var item in Model)
        {
            Html.RenderPartial("_SingleHandOver", item);
        }
    </div>
        
@*@Ajax.ActionLink("Add Stocks", "SingleStock", "Assets", new AjaxOptions { InsertionMode = InsertionMode.InsertAfter, HttpMethod = "POST" })*@
    @Html.ActionLink("Add Stock", "SingleHandOver", new { ViewContext.FormContext.FormId }, new { id = "addHandover" })

    <input type="submit" value="Save" />
   
}

@section userscript {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".selecthandover").each(function() {
                handoverTo(this);
                var selectedentryfor = $(this).parents("div.editorRow").find('.hdnentryfor').val();
                if (selectedentryfor.length > 0 && selectedentryfor!= "dummy") {
                    if ($(this).val() == 'UNIT') {
                        $(this).parents("div.editorRow").find('.selectunit').val(selectedentryfor);
                    } else {
                        $(this).parents("div.editorRow").find('.selectperson').val(selectedentryfor);
                    }
                }
            });
            $("#addHandover").click(function () {
                $.ajax({
                    url: this.href,
                    cache: false,
                    success: function (html) {
                        $('#editorRows').append(html);
                    }
                });
                return false;
            });
        });

        function removeRow(self) {
            $(self).parents("div.editorRow").remove();
            return false;
        }
        
        function entryFor(self) {
            $(self).parents("div.editorRow").find('.hdnentryfor').val($(self).val());
        }
        
        function handoverTo(self) {
            if ($(self).val() == 'UNIT') {
                $(self).parents("div.editorRow").find('.selectunit').show();
                $(self).parents("div.editorRow").find('.selectperson').hide();
            } else {
                $(self).parents("div.editorRow").find('.selectunit').hide();
                $(self).parents("div.editorRow").find('.selectperson').show();
            }
        }
    </script>
}
