﻿@using PRISM.Filters
@model PRISM.TBL_ASSETLEDGER
@{
    ViewBag.Title = "ToUnit";
}

<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<h2>@PRISM.Resource.ToUnitHeader</h2>
@using (Html.BeginForm("ToCsv", "HandOver", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Unit</div>
            <div class="cell">              
                <span style="float:left;">
                    @Html.Hidden("hddSelectedUnit")
                    @Html.TextBoxFor(model => model.ENTRYFOR, null, new { id = "txtAutoComplete" })
                    <a data-ajax="true" data-ajax-complete="showDialog(&#39;dialog7&#39;)" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#containerid" href="/Treeview/TreeView?Length=8" style="float:left;"><img alt="" src="../../Images/org-hierr-icon_16_16.png" title="" /></a>
                </span>
                @Html.ValidationMessageFor(model => model.ENTRYFOR)               
                

            </div>          
            
        </div>
       


        <div>
           
             <input name="uploadFile" type="file" />
            <input type="submit" value="UploadFile" title="Upload file" onclick="return CheckFileName();" />
            
        </div>
        @*<div class="cell cells3">
            <div class="form-group">
                <input type="file" id="dataFile" name="upload" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

            </div>*@
           

        </div>

    <div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none;  " data-windows-style="true">
        <div class="container" id="containerid">
            <h3>Please Wait...Processing Your Request...</h3>
            <p>
                <img src="~/Images/spinner-md.gif" />
            </p>
            <div class="cell padding20 bg-white">
                <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
            </div>
        </div>
    </div>
}
@section userscript{

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // loadCalendarAndConvertDate('ENTRYDATE-np', 'ENTRYDATE');
        });
        var TotCost = 0, unitPrice = 0, maxAllowedQty = 0;
        //$('#ItemsList').change(function () {
        $('#SelectedItemId').change(function () {
            $.ajax({
                type: 'POST', dataType: 'json', url: '/HandOver/getUpNqty', data: { 'itemid': $('#SelectedItemId').val(), 'ignoreConsumptionRule': true }, success: function (data) {
                    // ; alert(data)
                    //unitPrice = data[0].uprice;
                    //maxAllowedQty = parseFloat(data[0].maxallqty);
                    if (parseInt(data.Quantity) > 0) {
                        $('#QUANTITY').val(data.Quantity);
                        $('#REMAININGQUANTITY').val(data.RemainingQuantity);
                        $('#QUANTITY').prop('max', data.Quantity);
                        $('#FK_VENDORID').val(data.Vendor);
                        unitPrice = data.UnitPrice;
                        $('#TOTALEXPENSES').val(UIQuantity.val() * unitPrice);
                        $('#btnSubmit').removeAttr('disabled');

                    } else {
                        $('#btnSubmit').attr('disabled', 'disabled');
                        $('#QUANTITY').val('0');
                        $('#REMAININGQUANTITY').val('0');
                        $('#QUANTITY').prop('max', '0');
                        alert('No stock available for handover');

                    }
                }, beforeSend: function () { AjxLoaderToggle(); }, complete: function () { AjxLoaderToggle(); }
            });




        });
        var UIQuantity = $('#QUANTITY');
        UIQuantity.blur(function () {
            $('#TOTALEXPENSES').val(UIQuantity.val() * unitPrice);
        });

        function showDialog(id) {

            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }

        $(function () {
            $('#txtAutoComplete').autocomplete({

                source: function (request, response) {
                    var unit = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("Autocomplete"))",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                unit[i] = { label: data[i].UNIT_NAME, Id: data[i].ID };
                            }
                        }
                    });
                    response(unit);
                },

                min: 3,
                select: function (event, ui) {
                    $('#hddUnitId').val(ui.item.Id);
                }
            });
        });

        $(function () {
            $('#itemListSelect').autocomplete({

                source: function (request, response) {
                    var unit = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                unit[i] = { label: data[i].UNIT_NAME, Id: data[i].ID };
                            }
                        }
                    });
                    response(unit);
                },

                min: 3,
                select: function (event, ui) {
                    $('#hddUnitId').val(ui.item.Id);
                }
            });
        });


    </script>


<script type="text/javascript">
    function CheckFileName() {
        var fileName = document.getElementById("uploadFile").value
        //debugger;
        if (fileName == "") {
            alert("Browse to upload a valid File with xls / xlsx extension");
            return false;
        }
        else if (fileName.split(".")[1].toUpperCase() == "XLS" || fileName.split(".")[1].toUpperCase() == "XLSX")
            return true;
        else {
            alert("File with " + fileName.split(".")[1] + " is invalid. Upload a validfile with xls / xlsx extensions");
            return false;
        }
        return true;
    }
</script>
}
