﻿@using PRISM.Filters
@model PRISM.TBL_ASSETLEDGER
@{
    ViewBag.Title = "ToPerson";
}

<h2>@PRISM.Resource.ToPersonHeader</h2>
@using (Html.BeginForm())
{@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    

    <div id="distoperson" class="grid condensed">
        @if (Roles.GetRolesForUser().Contains("Admin"))
        {
            <div class="row cells4" id="spentrycheck">
                <div class="cell labelfor">@PRISM.Resource.SpecialEntry</div>
                <div class="cell"><input type="checkbox" id="specialent"></div>
                <div class="cell" id="spclentrymessage"></div>
            </div>
        }
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Personnel</div>
            <div class="cell ">
              
                @Html.Hidden("hddSelectedUnit")
                @Html.TextBox("txtAutoComplete", null, new { id = "txtAutoComplete" })               
                @Html.ValidationMessageFor(model => model.ENTRYFOR)
                @Html.HiddenFor(model => model.ENTRYFOR)
                @Html.HiddenFor(model => model.FK_VENDORID)                
                <a data-ajax="true" data-ajax-complete="showDialog(&#39;dialog7&#39;)" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#containerid" href="/Personnel/Index?Length=8" style="float:left;"><img alt="" src="../../Images/magnifier13.png" title="" /></a>

                @Html.TextBox("Name", null, new { id = "StudentName" })


            </div>

            <div class="cell labelfor">@PRISM.Resource.Item</div>
            <div class="cell ">
              
                @Html.DropDownListFor(model => model.SelectedItemId, new SelectList(ViewBag.ItemsList, "PK_ASSET_ID", "ITEMNAME"), @PRISM.Resource.SelectItem)
                @Html.ValidationMessageFor(model => model.SelectedItemId)
            </div>
        </div>
        <div class="row " id="localPannel"></div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Quantity</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.QUANTITY, new { type = "number" })
                @Html.ValidationMessageFor(model => model.QUANTITY)
            </div>
            <div class="cell labelfor">@PRISM.Resource.RemainingQuantity</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.REMAININGQUANTITY, new { disabled = "disabled" })
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.TotalExpenses</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.TOTALEXPENSES, new { type = "number" })
                @Html.ValidationMessageFor(model => model.TOTALEXPENSES)
            </div>
            <div class="cell labelfor">@PRISM.Resource.EntryDate</div>
            <div class="cell">
                @*@Html.TextBox("ENTRYDATE-np", null, new { @class = "nepali-calendar" })*@
                @Html.ValidationMessageFor(model => model.ENTRYDATE)
                @Html.TextBoxFor(model => model.ENTRYDATE, new { @class = "nepali-calendar" })
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.ItemCategoryCode</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.ITEMCATEGORYCODE, PrismBaseHelper.ItemCatgoryCodeSelectList)
                @Html.ValidationMessageFor(model => model.ITEMCATEGORYCODE)
            </div>
            <div class="cell labelfor">@PRISM.Resource.BookPageId</div>
            <div class="cell">
                @Html.TextBoxFor(model => model.BOOKPAGEID, new { type = "number", min = "0", max = "999999" })
                @Html.ValidationMessageFor(model => model.BOOKPAGEID)
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Description</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.DESCRIPTION)
                @Html.ValidationMessageFor(model => model.DESCRIPTION)
            </div>
            <div class="cell labelfor">@PRISM.Resource.Comments</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell ">
                <input id="btnSubmit" type="submit" value="@PRISM.Resource.Create" />
            </div>

        </div>
    </div>
}
<div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none; max-height: 540px; overflow: scroll;" data-windows-style="true">
    <div class="container" id="containerid">
        <h3>Please Wait...Processing Your Request...</h3>
        <p>

            <img src="~/Images/spinner-md.gif" />
        </p>
        <div class="cell padding20 bg-white">
            <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
        </div>
    </div>
</div>
@section userscript{
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js") "></script>

    <script language="javascript">
        $('#StudentName').change(function () {
            var recordId = this.value;
            // var recordId = $(this).val();
            $.getJSON("/HandOver/GetRecordById",
                {
                    id: recordId
                },
                function (data) {
                    // $('#StudentName').val(data.name);
                    var newvaluu = data.NAME;
                    $('#txtAutoComplete').val(newvaluu);
                    $('#hddSelectedUnit').val(recordId);


                });
        });
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            //loadCalendarAndConvertDate('ENTRYDATE-np', 'ENTRYDATE');         
           
        });
        var TotCost = 0, unitPrice = 0, maxAllowedQty = 0;
        $('#specialent').bind('change', function () {
            if ($(this).is(':checked')) {
                $('input[type=submit]').prop('disabled', false);
                $('#spclentrymessage').html("<div class='padding10 ribbed-lightRed'>ignoring the paybook rule</div>");
            }
            else {
                $('input[type=submit]').prop('disabled', true);
                $('#spclentrymessage').html("");

            }

        });





        $('#SelectedItemId').change(function () {
            if ($('#specialent').prop('checked') == false) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/HandOver/getIfEligible',
                    data: { 'itemid': $('#SelectedItemId').val(), 'personid': $('#ENTRYFOR').val() },
                    beforeSend: function () {
                        AjxLoaderToggle();
                    },
                    complete: function () {
                        AjxLoaderToggle();
                    },
                    success: function (data) {
                        if (data.length > 0) {
                            if (data[0].status != 'ok') {
                                $('#distoperson').addClass("error");
                                $('input[type=submit]').prop('disabled', true);
                                $('#localPannel').html('<div id="dbentry" class="ribbed-lightRed">' + data[0].data + '</div>');

                            }
                            else if (data[0].status == 0) {
                                /*Show message that the item query doesnt exists in the Consumption table*/
                                $('input[type=submit]').prop('disabled', false);
                                $('#localPannel').html("");
                                alert(data[0].data);
                            }
                            else {
                                $('#distoperson').removeClass("error");
                                $('input[type=submit]').prop('disabled', false);
                                $('#localPannel').html('<div id="dbentry" class="ribbed-lightGreen"">' + data[0].data + '</div>');
                            }
                            if (parseInt(data[0].maxallqty) > 0) {
                                $('input[type=submit]').prop('disabled', false);
                                $('#QUANTITY').val(data[0].maxallqty);
                                $('#QUANTITY').prop('max', data[0].maxallqty);
                            }
                            else {
                                alert('No stock available for handover');
                                $('#btnSubmit').attr('disabled', 'disabled');
                                $('#QUANTITY').val('0');
                                $('#REMAININGQUANTITY').val('0');
                                $('#QUANTITY').prop('max', '0');
                            }
                        }
                    }
                });
            }

            $.ajax({
                type: 'POST', dataType: 'json', url: '/HandOver/getUpNqty', data: { 'itemid': $('#SelectedItemId').val(), 'ignoreConsumptionRule': $('#specialent').prop('checked') }, success: function (data) {
                    // ; alert(data)
                    //unitPrice = data[0].uprice;
                    //maxAllowedQty = parseFloat(data[0].maxallqty);
                    
                    $('#REMAININGQUANTITY').val(data.RemainingQuantity);
                    $('#FK_VENDORID').val(data.Vendor);
                    unitPrice = data.UnitPrice;
                    $('#TOTALEXPENSES').val(UIQuantity.val() * unitPrice);
                    $('#btnSubmit').removeAttr('disabled');
                },
                beforeSend: function () { AjxLoaderToggle(); }, complete: function () { AjxLoaderToggle(); }
            });




        });
        var UIQuantity = $('#QUANTITY');
        UIQuantity.change(function () {
            $('#TOTALEXPENSES').val(UIQuantity.val() * unitPrice);
        });
        @*$(function () {
            $('#txtAutoCompletePerson').autocomplete({
                source: function (request, response) {
                    var Persons = new Array();

                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("AutoCompTransPerson"))",
                        data: { "s": $('#txtAutoCompletePerson').val() },
                        success: function (data) {

                            for (var i = 0; i < data.length ; i++) {
                                Persons[i] = { label: data[i].NAME + "(" + data[i].PERSON_CODE + "," + data[i].UNIT_NAME + ")", Id: data[i].PERSON_CODE, value: data[i].PERSON_CODE };
                            }
                        }
                    });

                    response(Persons);
                },

                min: 3,
                select: function (event, ui) {
                    $('#ENTRYFOR').val(ui.item.Id);
                }
            });
        });*@
        function showDialog(id) {
            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }


    </script>
}