﻿@using PRISM.Filters
@model PRISM.TBL_ASSETLEDGER
@{
    ViewBag.Title = "ToUnit";
}

<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<h2>@PRISM.Resource.ToUnitHeader</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Unit</div>
            <div class="cell">
                @*@Html.DropDownList("UnitList", String.Empty)*@
                <span style="float:left;">
                    @Html.Hidden("hddSelectedUnit")
                    @Html.TextBoxFor(model => model.ENTRYFOR, null, new { id = "txtAutoComplete" })
                    <a data-ajax="true" data-ajax-complete="showDialog(&#39;dialog7&#39;)" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#containerid" href="/Treeview/TreeView?Length=8" style="float:left;"><img alt="" src="../../Images/org-hierr-icon_16_16.png" title="" /></a>
                </span>

                @*@Html.DropDownListFor(model => model.ENTRYFOR, new SelectList(ViewBag.UnitList, "UnitId", "UnitName"), "--- Select Unit ---", new { style = "display:none;" })*@

                @Html.ValidationMessageFor(model => model.ENTRYFOR)

                @*@ Ajax.ImageActionLink("../../Images/org-hierr-icon_16_16.png","","", "TreeView","Treeview",
                    new AjaxOptions {
                        UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete= "showDialog('dialog7')" })
                        )*@

                @*@Ajax.ActionLink("...", "TreeView","Treeview", new AjaxOptions { UpdateTargetId = "containerid", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete= "showDialog('dialog7')" })*@
                @Html.HiddenFor(model => model.FK_VENDORID)

            </div>
          
            <div class="cell labelfor">@PRISM.Resource.Item</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.SelectedItemId, new SelectList(ViewBag.ItemsList, "PK_ASSET_ID", "ITEMNAME"), @PRISM.Resource.SelectItem)
                @Html.ValidationMessageFor(model => model.SelectedItemId)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Quantity</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.QUANTITY, new { type = "number" })
                @Html.ValidationMessageFor(model => model.QUANTITY)
            </div>
            <div class="cell labelfor">@PRISM.Resource.RemainingQuantity</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.REMAININGQUANTITY, new { disabled = "disabled" })
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.TotalExpenses</div>
            <div class="cell ">
                @Html.TextBoxFor(model => model.TOTALEXPENSES, new { type = "number" })
                @Html.ValidationMessageFor(model => model.TOTALEXPENSES)
            </div>
            <div class="cell labelfor">@PRISM.Resource.EntryDate</div>
            <div class="cell">
                @*@Html.TextBox("ENTRYDATE-np",null, new {@class="nepali-calendar"})*@

                @Html.ValidationMessageFor(model => model.ENTRYDATE)
                @Html.TextBoxFor(model => model.ENTRYDATE, new { @class = "nepali-calendar" })
            </div>
        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.ItemCategoryCode</div>
            <div class="cell ">
                @Html.DropDownListFor(model => model.ITEMCATEGORYCODE, PrismBaseHelper.ItemCatgoryCodeSelectList)
                @Html.ValidationMessageFor(model => model.ITEMCATEGORYCODE)
            </div>
            <div class="cell labelfor">@PRISM.Resource.BookPageId</div>
            <div class="cell">
                @Html.TextBoxFor(model => model.BOOKPAGEID, new { type = "number", min = "0", max = "999999" })
                @Html.ValidationMessageFor(model => model.BOOKPAGEID)
            </div>

        </div>
        <div class="row cells4">
            <div class="cell labelfor">@PRISM.Resource.Description</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.DESCRIPTION)
                @Html.ValidationMessageFor(model => model.DESCRIPTION)
            </div>
            <div class="cell labelfor">@PRISM.Resource.Comments</div>
            <div class="cell ">
                @Html.TextAreaFor(model => model.COMMENTS)
                @Html.ValidationMessageFor(model => model.COMMENTS)
            </div>
        </div>
        <div class="row cells4">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell ">
                <input id="btnSubmit" type="submit" value="@PRISM.Resource.Create" />
            </div>
        </div>

    </div>

    <div data-role="dialog" id="dialog7" class="padding20" data-close-button="true" style="display: none;  " data-windows-style="true">
        <div class="container" id="containerid">
            <h3>Please Wait...Processing Your Request...</h3>
            <p>
                <img src="~/Images/spinner-md.gif" />
            </p>
            <div class="cell padding20 bg-white">
                <div data-role="preloader" data-type="metro" data-style="dark" style="margin: 30px  auto"></div>
            </div>
        </div>
    </div>
}
@section userscript{

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // loadCalendarAndConvertDate('ENTRYDATE-np', 'ENTRYDATE');
        });
        var TotCost = 0, unitPrice = 0, maxAllowedQty = 0;
        //$('#ItemsList').change(function () {
        $('#SelectedItemId').change(function () {
            $.ajax({
                type: 'POST', dataType: 'json', url: '/HandOver/getUpNqty', data: { 'itemid': $('#SelectedItemId').val(), 'ignoreConsumptionRule': true }, success: function (data) {
                    // ; alert(data)
                    //unitPrice = data[0].uprice;
                    //maxAllowedQty = parseFloat(data[0].maxallqty);
                    if (parseInt(data.Quantity) > 0) {
                        $('#QUANTITY').val(data.Quantity);
                        $('#REMAININGQUANTITY').val(data.RemainingQuantity);
                        $('#QUANTITY').prop('max', data.Quantity);
                        $('#FK_VENDORID').val(data.Vendor);
                        unitPrice = data.UnitPrice;
                        $('#TOTALEXPENSES').val(UIQuantity.val() * unitPrice);
                        $('#btnSubmit').removeAttr('disabled');

                    } else {
                        $('#btnSubmit').attr('disabled', 'disabled');
                        $('#QUANTITY').val('0');
                        $('#REMAININGQUANTITY').val('0');
                        $('#QUANTITY').prop('max', '0');
                        alert('No stock available for handover');

                    }
                }, beforeSend: function () { AjxLoaderToggle(); }, complete: function () { AjxLoaderToggle(); }
            });




        });
        var UIQuantity = $('#QUANTITY');
        UIQuantity.blur(function () {
            $('#TOTALEXPENSES').val(UIQuantity.val() * unitPrice);
        });

        function showDialog(id) {

            var dialog = $("#" + id).data('dialog');
            if (!dialog.element.data('opened')) {
                dialog.open();
            } else {
                dialog.close();
            }
        }

        $(function () {
            $('#txtAutoComplete').autocomplete({

                source: function (request, response) {
                    var unit = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("Autocomplete"))",
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                unit[i] = { label: data[i].UNIT_NAME, Id: data[i].ID };
                            }
                        }
                    });
                    response(unit);
                },

                min: 3,
                select: function (event, ui) {
                    $('#hddUnitId').val(ui.item.Id);
                }
            });
        });

        $(function () {
            $('#itemListSelect').autocomplete({

                source: function (request, response) {
                    var unit = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",                        
                        data: { "term": request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                unit[i] = { label: data[i].UNIT_NAME, Id: data[i].ID };
                            }
                        }
                    });
                    response(unit);
                },

                min: 3,
                select: function (event, ui) {
                    $('#hddUnitId').val(ui.item.Id);
                }
            });
        });
        

    </script>

    

}
